<!-- footer -->
<iframe name="loginFrm" id="loginFrm" style="height:0px;position:fixed" src="" height="0" width="0" scrolling="no" frameborder="0"></iframe>
<iframe name="sysfrm" id="sysfrm" style="height:0px;position:fixed" src="" height="0" width="0" scrolling="no" frameborder="0"></iframe>

<footer class="footer">
    <section class="inner">
        <ul class="foot_list">
            <li><a href="../hanuri/greeting.jsp">회사소개</a></li>
            <li><a href="../customer/policy.jsp">이용약관</a></li>
            <li><a href="../customer/privacy.jsp">개인정보취급방침</a></li>
            <li><a href="../course/commission.jsp">단체위탁과정</a></li>
            <li><a href="http://pf.kakao.com/_xdtclu/chat" target="_blank">카카오톡 상담</a></li>
            <li><a href="https://blog.naver.com/ehanuri" target="_blank">한우리 블로그</a></li>
        </ul>
        <div class="txt_wrap">
            <h1 class="footer_logo"><img src="../assets/img/footer_logo.svg" alt="한우리 캠퍼스"></h1>
            <div class="m _txt">
                <p class="t1">07261 서울시 영등포구 당산로27길 16 한우리빌딩 2층  대표 김희선</p>
                <p class="t1">사업자등록번호 220-82-00385  통신판매업신고 제 2015-서울영등포-0870</p>
                <p class="t1">© (사)한우리독서문화운동본부</p>
            </div>
            <div class="pc _txt">
                <p class="t1"><strong>한우리캠퍼스</strong><span>대표 김희선</span><span>02-6276-2626</span></p>
                <p class="t1"><span>07261 서울시 영등포구 당산로27길 16 한우리빌딩 2층</span><span>사업자등록번호 220-82-00385</span><span>통신판매업신고 제 2015-서울영등포-0870</span></p>
                <p class="t1">© (사)한우리독서문화운동본부</p>
            </div>
        </div>
    </section>        
</footer>
<!--// footer -->
</div>
<button class="btn __top"></button>

<!-- mobile nav -->
<aside class="side_nav">
    <div class="side_header">
        <p class="tit"><!--@nif(login_block)-->안녕하세요. 한우리입니다.<!--/nif(login_block)--><!--@if(login_block)-->{{SYS_USERNAME}}님 안녕하세요.<!--/if(login_block)--></p>
		<!--@nif(login_block)-->
        <ul class="quick_menu_list"><!-- login 전 -->
            <li><a href="../member/login.jsp"><span>로그인</span></a></li>
            <li><a href="../member/join.jsp"><span>회원가입</span></a></li>
            <li><a href="../member/info.jsp"><span>로그인정보</span></a></li>
            <li><a href="#a"><span>이용안내</span></a></li>
        </ul>
		<!--/nif(login_block)-->
		<!--@if(login_block)-->
        <ul class="quick_menu_list __after"><!-- login 후 -->
            <li><a href="../main/logout.jsp">로그아웃</a></li>
            <li><a href="../member/join_info.jsp">정보수정</a></li>
            <li><a href="#a">결제대기</a></li>
            <li><a href="#a">내 강의실</a></li>
        </ul>
		<!--/if(login_block)-->
        <nav>
            <ul class="snb_list">
                <li>
                    <strong>독서지도사</strong>
                    <div>
                        <a href="../leader/reason.jsp">왜 독서지도사인가?</a>
                        <a href="../leader/confidence.jsp">독서지도사는 한우리</a>
                        <a href="../leader/review.jsp">활동후기</a>
                    </div>
                </li>
                <li>
                    <strong>수강신청</strong>
                    <div>
                        <a href="../course/intro.jsp">독서지도사과정</a>
                        <a href="../course/course_list.jsp">전체과정</a>
                        <a href="../course/commission.jsp">단체위탁과정</a>
                    </div>
                </li>
                <li>
                    <strong>자격시험</strong>
                    <div>
                        <a href="../test/test_info.jsp">시험안내</a>
                        <a href="../test/test_apply_info.jsp">시험접수</a>
                        <a href="../class/test.jsp">응시결과</a>
                        <a href="../test/license.jsp">자격증</a>
                        <a href="../test/supplement.jsp">보수교육</a>
                    </div>
                </li>
                <li>
                    <strong>한우리교사</strong>
                    <div>
                        <a href="../teacher/teacher.jsp">한우리교사안내</a>
                        <a href="../teacher/process.jsp">입문과정</a>
                    </div>
                </li>
                <li>
                    <strong>고객센터</strong>
                    <div>
                        <a href="../customer/notice.jsp">공지사항</a>
                        <a href="../customer/support.jsp">학습지원</a>
                        <a href="../customer/guide.jsp?code=faq&s_category_id=">이용안내</a>
                        <a href="../customer/policy.jsp">이용약관</a>
                    </div>
                </li>
                <li>
                    <strong>한우리캠퍼스</strong>
                    <div>
                        <a href="../hanuri/greeting.jsp">인사말</a>
                        <a href="../hanuri/purpose.jsp">설립목적</a>
                        <a href="../hanuri/history.jsp">연혁</a>
                        <a href="../hanuri/location.jsp">위치안내</a>
                    </div>
                </li>
                <li>
                    <strong>내 강의실</strong>
                    <div>
                        <a href="../mypage/index.jsp">수강과정</a>
                        <a href="../mypage/pay.jsp">결제대기</a>
                        <a href="../mypage/test.jsp">시험이력</a>
                        <a href="../mypage/license.jsp">자격이력</a>
                        <a href="../mypage/qna.jsp">나의상담</a>
                    </div>
                </li>
            </ul>
        </nav>
        <buton id="btnClosed" class="btn __closed"></buton>
    </div>
</aside>
<!--// mobile nav -->

<aside class="consulting">
    <button><img src="../assets/img/ico_phone.svg" alt=""> 전화 상담</button>
    <button><img src="../assets/img/ico_kakao_ch.svg" alt=""> 카톡 상담</button>
</aside>
