.class {
    .point {
        background-image: url(../img/ico_star.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: vw(220);
        height: vw(38);
        &.num10 {
            background-position: 0 vw(-2);
        }
        &.num9 {
            background-position: 0 vw(-44);
        }
        &.num8 {
            background-position: 0 vw(-87);
        }
        &.num7 {
            background-position: 0 vw(-130);
        }
        &.num6 {
            background-position: 0 vw(-173);
        }
        &.num5 {
            background-position: 0 vw(-216);
        }
        &.num4 {
            background-position: 0 vw(-259);
        }
        &.num3 {
            background-position: 0 vw(-302);
        }
        &.num2 {
            background-position: 0 vw(-345);
        }
        &.num1 {
            background-position: 0 vw(-388);
        }
        &.num0 {
            background-position: 0 vw(-430);
        }
    }
    .check_star {
        display: flex;
        li {
            margin:0 vw(2);
            width: vw(39);
            height: vw(38);
            background: url(../img/ico_check_star_off.svg) no-repeat 0 0 / cover;
            &.on {
                background: url(../img/ico_check_star.svg) no-repeat 0 0 / cover;
            }
        }
    }
}
@include desktop {
    
    .class {
        width: 1200px;
        margin:0 auto;
        .point {
            margin-left: px(6);
            background-image: url(../img/ico_star.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: px(51.5);
            height: px(9.5);
            &.num10 {
                background-position: 0 0;
            }
            &.num9 {
                background-position: 0 px(-10);
            }
            &.num8 {
                background-position: 0 px(-20);
            }
            &.num7 {
                background-position: 0 px(-30);
            }
            &.num6 {
                background-position: 0 px(-40);
            }
            &.num5 {
                background-position: 0 px(-50);
            }
            &.num4 {
                background-position: 0 px(-60);
            }
            &.num3 {
                background-position: 0 px(-70);
            }
            &.num2 {
                background-position: 0 px(-80);
            }
            &.num1 {
                background-position: 0 px(-90);
            }
            &.num0 {
                background-position: 0 px(-100);
            }
        }
        .check_star {
            display: flex;
            li {
                margin:0 px(1);
                width: px(19);
                height: px(18);
                background: url(../img/ico_check_star_off.svg) no-repeat 0 0 / cover;
                &.on {
                    background: url(../img/ico_check_star.svg) no-repeat 0 0 / cover;
                }
            }
        }
    }
}