.class {
    .survey {
        padding-bottom: vw(100);
        .__top {
            padding:vw(27) 0 vw(35);
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: vw(171);
                margin-right: vw(31.5);
            }
            .t1 {
                font-size: vw(25);
                letter-spacing: vw(-2.4);
                color:#333;
                font-weight: 700;
            }
            .t2 {
                margin-top: vw(19);
                font-size: vw(22);
                font-weight: 500;
                letter-spacing: vw(-2.2);
                color:#999;
            }
        }
        h2 {
            width: 100%;
            height: vw(73.5);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: vw(25);
            font-weight: 700;
            color:#333;
            letter-spacing: vw(-1.25);
            background-color: #f9f9f9;
            border-top: 1px solid #dedede;
            border-bottom: 1px solid #dedede;
        }
        .cont_inner {
            padding:vw(30) vw(30) vw(65);
            .box {
                display: block;
            }
            .teacher_info {
                display: flex;
                img {
                    width: vw(130);
                    margin-right: vw(21);
                }
                .t1 {
                    font-weight: 500;
                    margin-top: vw(20);
                    font-size: vw(27);
                    color:#333;
                }
                .t2 {
                    font-weight: 500;
                    font-size: vw(24);
                    color:#999
                }
            }
            .point_box {
                display: flex;
                margin-top: vw(23);
                border: 1px solid #999;
                margin-bottom: vw(30);
                &:nth-child {
                    margin-bottom: 0;
                }
                dl {
                    width: 50%;
                    text-align: center;
                    &:first-child {
                        border-right: 1px solid #999;
                    }
                    dt {
                        height: vw(52);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #f3f3f3;
                        border-bottom: 1px solid #999;
                        font-size: vw(22);
                        font-weight: 700;
                        color:#333;
                        letter-spacing: vw(-1.1);
                    }
                    dd {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding:vw(18) 0;
                        .check_star {
                            margin-bottom: vw(20);
                        }
                        p {
                            color:#ee4500;
                            font-size: vw(22);
                            letter-spacing: vw(-1.1);
                            b {
                                font-weight: 500;
                            }
                            &.pointTxt {
                                display: none;
                                &.on {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            .q_txt {
                font-size: vw(22);
                letter-spacing: vw(-1.1);
                color: #333;
                margin-top: vw(47.5);
                margin-bottom: vw(19);
                &:first-of-type {
                    margin-top: 0;
                }
            }
            textarea {
                margin-top: vw(13);
                width: 100%;
                height: vw(80);
                overflow-y: auto;
                background-color: #f9f9f9;
                border: 1px solid #999;
                padding:vw(10) vw(18.5);
                box-sizing: border-box;
                resize: none;
                border-radius: vw(1);
                font-size: vw(22);
            }
            .check_list {
                li {
                    margin-bottom: vw(10);
                    label {
                        display: flex;
                        align-items: center;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    input[type="text"] {
                        border: 1px solid #999;
                        padding:0 vw(10);
                        font-size: vw(22);
                        height: vw(32);
                        margin-left: vw(10);
                    }
                    input[type="checkbox"]:checked + span {
                        color:#ee4500;
                    }
                }
            }
            .radio_list {
                display: flex;
                flex-wrap: wrap;
                li {
                    margin-right:vw(20);
                    margin-bottom: vw(10);
                }
                label {
                    display: flex;
                    align-items: center;
                }
                input {
                    margin-right:vw(10);
                }
                input[type="radio"]:checked + span {
                    color:#ee4500;
                }

                span {
                    font-size: vw(22);
                }
            }
        }
        
        
    }
}
@include desktop {
    .class {
        .survey {
            padding-bottom: px(50);
            .__top {
                padding:0 0 px(17.5);
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 171px;
                    margin-right: px(15.75);
                }
                .t1 {
                    font-size: px(12.5);
                    letter-spacing: px(-1.2);
                    color:#333;
                    font-weight: 700;
                }
                .t2 {
                    margin-top: px(8.25);
                    font-size: px(11);
                    font-weight: 500;
                    letter-spacing: px(-1.1);
                    color:#999;
                }
            }
            h2 {
                width: 100%;
                height: 73.5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: px(12.5);
                font-weight: 700;
                color:#333;
                letter-spacing: px(-0.625);
                background-color: #f9f9f9;
                border-top: 1px solid #dedede;
                border-bottom: 1px solid #dedede;
            }
            .cont_inner {
                padding:px(15) px(15) px(32.5);
                .box {
                    display: flex;
                    width: 100%;
                    align-items: flex-start;
                    margin-bottom: 40px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                .teacher_info {
                    width: 500px;
                    img {
                        width: px(65);
                        margin-right: px(10.5);
                    }
                    .t1 {
                        font-weight: 500;
                        margin-top: px(10);
                        font-size: px(13.5);
                        color:#333;
                    }
                    .t2 {
                        font-weight: 500;
                        font-size: px(12);
                        color:#999
                    }
                }
                .point_box {
                    display: flex;
                    width: calc(100% - 500px);
                    margin:0;
                    border: 1px solid #999;
                    &:nth-child {
                        margin-bottom: 0;
                    }
                    dl {
                        width: 50%;
                        text-align: center;
                        &:first-child {
                            border-right: 1px solid #999;
                        }
                        dt {
                            height: px(26);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: #f3f3f3;
                            border-bottom: 1px solid #999;
                            font-size: px(11);
                            font-weight: 700;
                            color:#333;
                            letter-spacing: px(-0.5);
                        }
                        dd {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding:px(9) 0;
                            .check_star {
                                margin-bottom: px(10);
                            }
                            p {
                                color:#ee4500;
                                font-size: px(11);
                                letter-spacing: px(-0.5);
                                b {
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
                .q_txt {
                    font-size: px(11);
                    letter-spacing: px(-0.5);
                    color: #333;
                    margin-top: px(23.75);
                    margin-bottom: px(9.5);
                    &:first-of-type {
                        margin-top: 0;
                    }
                }
                select {
                    margin-bottom: px(6.5);
                }
                textarea {
                    margin-top: 0;
                    width: 100%;
                    height: px(40);
                    overflow-y: auto;
                    background-color: #f9f9f9;
                    border: 1px solid #999;
                    padding:px(5) px(9.25);
                    box-sizing: border-box;
                    resize: none;
                    border-radius: px(1);
                    font-size: px(11);
                }
                .check_list {
                    li {
                        margin-bottom: px(5);
                        label {
                            display: flex;
                            align-items: center;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                        input[type="text"] {
                            border: 1px solid #999;
                            padding:0 px(5);
                            font-size: px(11);
                            height: px(16);
                            margin-left: px(5);
                        }
                        input[type="checkbox"]:checked + span {
                            color:#ee4500;
                        }
                    }
                }
                .radio_list {
                    display: flex;
                    li {
                        margin-right:px(10);
                        margin-bottom: 0;

                    }
                    label {
                        display: flex;
                        align-items: center;
                    }
                    input {
                        margin-right:10px;
                    }
                    span {
                        font-size: px(11);
                    }
                }
            }
            
            
        }   
    }

}