.join {
    padding:0 vw(30) vw(30);
    h1 {
        font-size: vw(30);
        font-weight: 700;
        color:#333;
        letter-spacing: vw(-2);
        text-align: center;
        padding-top: vw(54);  
        padding-bottom: vw(8);
    }
    .join_wrap {
        
        .error {
            margin-top: vw(22.5);
            font-size: vw(22);
            color:#ee5400;
        }
        .join_box {
            padding-top: vw(23.5);
            position: relative;
            &.__cert {
                .btn_cert {
                    position: absolute;
                    right:0;
                    bottom:vw(1);
                    width: vw(141);
                    height: vw(50.5);
                    background: #666;
                    border-radius: vw(3);
                    color:#fff;
                    font-size: vw(22);
                    font-weight: 700;
                    letter-spacing: vw(-1.1);
                }
                input {
                    width: vw(385.5);
                }
            }
            > label {
                font-size: vw(22);
                color:#999;
                letter-spacing: vw(-0.44);
                line-height: 1;
                font-weight: 700;
            }
            > input {
                display: flex;
                align-items: center;
                width: 100%;
                height:vw(54);
                font-size: vw(24);
                letter-spacing: vw(-0.48);
                border: 0 solid #000;
                border-bottom: vw(1) solid #999;
            }
            .radio_box {
                margin-top: vw(10);
                padding-bottom: vw(12.5);
                border-bottom: vw(1) solid #d4d4d4;
                label {
                    display: inline-flex;
                    align-items: center;
                    margin-right: vw(20);
                }
                span {
                    font-size: vw(24);
                    line-height: vw(1);
                }
            }
            .btn_reset {
                position: absolute;
                right:vw(10);
                bottom:vw(13);
                width: vw(28);
                height: vw(28);
                img {
                    width: $full;
                    display: block;
                }
            }
            
            .btn_toggle {
                position: absolute;
                right:0;
                bottom:vw(13.5);
                width: vw(44);
                height: vw(30);
                img {
                    width: $full;
                    display: block;
                }
            }
            
        }
        .check_wrap {
            margin-top: vw(50.5);
            display: flex;
            justify-content: center;
            label {
                display: inline-flex;
                align-items: center;
                margin-right: vw(20.5);
                &:last-child {
                    margin-right: 0;
                }
                font-size: vw(22);
                letter-spacing: vw(-0.44);
            }
        }
        
    }
    .agree_box {
        margin-top: vw(40.5);
        background-color: #f6f6f6;
        font-size: vw(22);
        color:#333;
        letter-spacing: vw(-0.44);
        border: vw(0.5) solid #666;
        div {
            padding:vw(21);
            display: flex;
            align-items: center;
            &:first-child {
                border-bottom: vw(1) solid #666;
            }
        }
        a {
            color:#ee5400;
            text-decoration: underline;
        }
    }
    .btn_join {                    
        margin-top: vw(39.5);
        width: 100%;
        font-weight: 700;
        font-size: vw(30);
        letter-spacing: vw(-1.5);
        height: vw(66.5);
        margin-bottom: vw(17.5);
        color:#fff;
        background-color: #ee5400;
    }

}
@include desktop {
    .join {
        padding:0 px(30) px(30);
        h1 {
            font-size: px(15);
            letter-spacing: px(-0.75);
            padding: px(0);  
        }
        .join_wrap {
            width: px(360);
            margin: px(19.5) auto px(30);
            border: px(0.5) solid #ccc;
            padding:px(36) px(45);
            .error {
                margin-top: px(12);
                font-size: px(10);
            }
            .join_box {
                padding-top: px(12);
                &.__cert {
                    .btn_cert {
                        bottom:px(0);
                        width: px(62);
                        height: px(26);
                        border-radius: px(1.5);
                        font-size: px(10);
                        letter-spacing: px(-0.5);
                    }
                    input {
                        width: px(202);
                    }
                }
                > label {
                    font-size: px(10);
                    letter-spacing: px(-0.2);
                    font-weight: 700;
                }
                > input {
                    height:px(25);
                    font-size: px(12);
                    letter-spacing: px(-0.24);
                    border-bottom: px(0.5) solid #ccc;
                }
                .radio_box {
                    margin-top: px(10);
                    padding-bottom: px(6.5);
                    border-bottom: vw(0.5) solid #d4d4d4;
                    label {
                        margin-right: px(20);
                    }
                    span {
                        font-size: px(12);
                        line-height: px(1);
                    }
                }
                .btn_reset {
                    right:px(2);
                    bottom:px(4.5);
                    width: px(16);
                    height: px(16);
                    img {
                        width: 100%;
                    }
                }
                
                .btn_toggle {
                    bottom:px(4.5);
                    width: px(22);
                    height: px(15.5);
                }
                
            }
            .check_wrap {
                margin-top: px(50.5);
                label {
                    margin-right: px(20.5);
                }
                font-size: px(22);
                letter-spacing: px(-0.44);
            }
        }
        .agree_box {
            margin-top: px(20);
            font-size: px(10.5);
            letter-spacing: px(-0.44);
            border: px(0.5) solid #666;
            div {
                padding:px(11);
                &:first-child {
                    border-bottom: px(0.5) solid #666;
                }
            }
        }
        .btn_join {                    
            margin-top: px(19.5);
            font-size: px(15);
            letter-spacing: px(-0.75);
            height: px(33.5);
            margin-bottom: px(0);
        }
            
    }

}

