.guide {
    h1 {
        font-size: vw(30);
        font-weight: 700;
        color:#333;
        letter-spacing: vw(-2);
        text-align: center;
        padding-top: vw(40);  
        padding-bottom: vw(36);
    }
    .nav_menu {
        overflow-x: auto;
        background: #f3f3f3;
        ul {
            width: max-content;
            display: flex;
            padding:0 vw(25);
            li {
                position: relative;
                margin:0 vw(8);
                a {
                    display: block;
                    padding:vw(19) vw(7);
                    font-size: vw(22);
                    font-weight: 500;
                    letter-spacing: vw(-1);
                    color:#666;
                }
                &.on::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: vw(4);
                    background-color: #787878;
                    position: absolute;
                    left: 0;
                    top:0;
                }
                &.on a {
                    color:#333;
                }
            }
        }
    }
    .__wrap_top {
        padding-top: vw(41);  
        padding-bottom: vw(39);
        text-align: center;
        border-bottom: vw(1) solid #bcbcbc;
    }
    .qa_list {
        .question {
            padding: vw(17) vw(30) vw(20);
            border-bottom: vw(1) solid #cecece;
            
            span {
                font-size: vw(22); 
                color:#ccc;
                font-weight: 700;
                letter-spacing: vw(-1);
            }
            p {
                font-size: vw(22); 
                font-weight: 500;
                letter-spacing: vw(-1);
                line-height: 1.36;
                width: 100%;
                padding-right: 10vw;
                background: url(../img/btn_guide.svg) no-repeat 100% 1.5vw / vw(31);
            }
        }
        .answer {
            display: none;
            margin-top: vw(-1);
            padding:vw(30);
            font-size: vw(21);
            color:#333;
            letter-spacing: vw(-1);
            line-height: 1.43;
            background: #f9f9f9;
            border-top: vw(1) solid #e0e0e0;
            border-bottom: vw(1) solid #e0e0e0;
            &.open {
                display: block;
            }
        }
    }
    .btn_more {
        display: flex;
        justify-content: center;
        margin: vw(48) auto;
        font-size: vw(22);
        font-weight: 700;
        color: #929292;
        padding-right: vw(27.5);
        background: url(../img/btn_more.svg) no-repeat 100% 50% / vw(19.5);
    }
    .btn_contact {
        display: block;
        width: vw(540);
        height: vw(60);
        color:#fff;
        font-weight: 700;
        letter-spacing: vw(-1);
        font-size: vw(25);
        background: #ee4500;
        margin:0 auto vw(12);
    }
    .btn_consultation {
        display: block;
        width: vw(540);
        height: vw(60);
        color:#fff;
        font-weight: 700;
        letter-spacing: vw(-1);
        font-size: vw(25);
        background: #999;
        margin:0 auto vw(45);
    }
}