.notice {
    .__wrap_top {
      padding-top: 6.667vw;  
      padding-bottom: vw(43);
      text-align: center;
      h1 {
        font-size: vw(30);
        font-weight: 700;
        color:#333;
        letter-spacing: vw(-2);
        & + .search_box {
            margin: 5.917vw auto 0;
        }
      }
    }
    i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 11.417vw;
        height: vw(25);
        line-height: vw(25);
        font-weight: 700;
        border-radius: 0.833vw;
        background: #999;
        color:#fff;
        font-size: vw(20);
        letter-spacing: vw(-1);
        &.new {
            background: #ee4500;;
        }
    }
    .__list {
        border-top: 0.167vw solid #b6b6b6;
        li {
            border-bottom: 0.167vw solid #b6b6b6;
            
            a {
                display: flex;
                padding:vw(20) 4.917vw;
                i {
                    margin-top: 0.33vw(24);
                }
            }
            p {
                font-size: vw(23);
                letter-spacing: -0.192vw;
                color:#333;
                font-weight: 500;
                width: 72.333vw;
                margin-left: 2.250vw;
                span {
                    margin-right: 2.250vw;
                }
                .date {
                    font-size: vw(20);
                    color:#999;
                    letter-spacing: vw(-1);
                    font-weight: 400;
                    margin-left: 0;
                }
            }
        }
    }
    .btn_more {
        display: flex;
        justify-content: center;
        margin: 8vw auto;
        font-size: vw(22);
        font-weight: 700;
        color: #929292;
        padding-right: 6.667vw;
        background: url(../img/btn_more.png) no-repeat 100% 50% / vw(25) vw(15);
    }
    .btn_list {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 21.667vw;
        height: 7.500vw;
        background-color: #666;
        border-radius: 0.500vw;
        color:#fff;
        font-weight: 700;
        font-size: vw(22);
        display: flex;
        justify-content: center;
        margin:5.166vw auto 10.333vw;
    }
    .__view {
        .tit {
            display: flex;
            padding:5.333vw vw(30);
            background: #f9f9f9;
            border-bottom: 0.167vw solid #a3a3a3;
            p {
                width: 72.750vw;
                margin-left: 2.250vw;
                font-size: 4.500vw;
                font-weight: 500;
                color:#333;
                letter-spacing: -0.225vw;
                line-height: 1.3;
                .date {
                    font-size: vw(20);
                    font-weight: 400;
                    color:#999;
                    letter-spacing: vw(-1);
                    margin-left: 2.250vw;
                }
            }
        }
        .stit {
            display: flex;
            border-bottom: 0.167vw solid #c2c2c2;
            padding:3vw vw(30);
            p {
                width: 72.750vw;
                margin-left: 2.250vw;
            }
            a {
                color:#666;
                &:hover {
                    color:#ee4500;
                }
            }
        }
        .t1 {
            font-size: vw(22);
            letter-spacing: vw(-1);
        }
        .t2 {
            font-size: 3vw;
            letter-spacing: -0.150vw;
        }
        .text_box {
            padding:6vw vw(29) 8vw;
            font-size: vw(22);
            font-weight: 500;
            letter-spacing: vw(-1);
            color:#666;
            border-bottom: 0.167vw solid #c2c2c2;
        }
    }
}