.policy {
    padding:0 vw(30) vw(30);
    @include desktop {
        width: 1200px;
        margin:0 auto;
    }
    h1 {
        font-size: vw(30);
        font-weight: 700;
        color:#333;
        letter-spacing: vw(-2);
        text-align: center;
        padding-top: vw(40);  
        padding-bottom: vw(36);
    }
    h2 {
        font-size: vw(25);
        font-weight: 500;
        letter-spacing: vw(-0.5);
        padding-bottom: vw(17);
        border-bottom: vw(1) solid #c6c6c6;
        margin-top: vw(40);
        &:nth-child(2) {
            margin-top: 0;
        }
    }
    h3 {
        font-size: vw(22);
        color:#333;
        font-weight: 500;
        letter-spacing: vw(-0.5);
        margin-bottom: vw(20);
        margin-top: vw(33);
    }
    p {
        font-size: vw(20);
        line-height: 1.5;
        letter-spacing: vw(-1);
        color:#666;
    }
    .t1 {
        font-size: vw(20);
        line-height: 1.5;
        letter-spacing: vw(-1);
        color:#666;
        position: relative;
        padding-left:vw(24);
        &::before {
            position: absolute;
            left: 0;
            top:0;
        }
        &.n1:before {
            content: '1) ';
        }
        &.n2:before {
            content: '2) ';
        }
        &.n3:before {
            content: '3) ';
        }
        &.n4:before {
            content: '4) ';
        }
        &.n5:before {
            content: '5) ';
        }
        b {
            font-weight: 700;
        }
    }
    .t2 {
        margin-left: vw(24);
        font-size: vw(20);
        line-height: 1.5;
        letter-spacing: vw(-1);
        color:#666;
        padding-left:vw(24);
        position: relative;
        &:before {
            position: absolute;
            left: 0;
            top:0;
        }
        &.n1::before {
            content: '가. ';
        }
        &.n2::before {
            content: '니. ';
        }
        &.n3::before {
            content: '다. ';
        }
        &.n4::before {
            content: '라. ';
        }
        &.n5::before {
            content: '마. ';
        }
        &.n6::before {
            content: '바. ';
        }
        &.n7::before {
            content: '사. ';
        }
        &.n8::before {
            content: '아. ';
        }
        &.n9::before {
            content: '자. ';
        }
    }
    .t3 {
        font-size: vw(20);
        line-height: 1.5;
        letter-spacing: vw(-1);
        color:#666;
        margin-left: vw(48);
        padding-left:vw(12);
        position: relative;
        &:before {
            content: '-';
            position: absolute;
            left: 0;
            top:0;
        }
    }
    a {
        display: block;
        font-size: vw(22);
        font-weight: 500;
        color:#333;
        letter-spacing: vw(-1);
        margin-top: vw(32);
        &:hover {
            color:#ee5400;
            text-decoration: underline;
        }
    }
}