.privacy {
    padding:0 vw(30) vw(30);
    h1 {
        font-size: vw(30);
        font-weight: 700;
        color:#333;
        letter-spacing: vw(-2);
        text-align: center;
        padding-top: vw(40);  
        padding-bottom: vw(36);
    }
    h2 {
        font-size: vw(25);
        font-weight: 500;
        letter-spacing: vw(-0.5);
        padding-bottom: vw(17);
        border-bottom: vw(1) solid #c6c6c6;
        margin-top: vw(40);
        margin-bottom: vw(20);
    }
    h3 {
        font-size: vw(22);
        color:#333;
        font-weight: 500;
        letter-spacing: vw(-0.5);
        margin-bottom: vw(20);
        margin-top: vw(33);
    }
    p {
        font-size: vw(20);
        line-height: 1.5;
        letter-spacing: vw(-1);
        color:#666;
    }
    .t1 {
        font-size: vw(20);
        line-height: 1.5;
        letter-spacing: vw(-1);
        color:#666;
        position: relative;
        padding-left:vw(24);
        &::before {
            position: absolute;
            left: 0;
            top:0;
        }
        &.n1:before {
            content: '1) ';
        }
        &.n2:before {
            content: '2) ';
        }
        &.n3:before {
            content: '3) ';
        }
        &.n4:before {
            content: '4) ';
        }
        &.n5:before {
            content: '5) ';
        }
        b {
            font-weight: 700;
        }
    }
    
    .t2 {
        font-size: vw(20);
        line-height: 1.5;
        letter-spacing: vw(-1);
        color:#666;
        margin-left: vw(24);
        padding-left:vw(12);
        position: relative;
        &:before {
            content: '-';
            position: absolute;
            left: 0;
            top:0;
        }
    }
    p {
        a {
            display: inline-block;
        }
    }
    a {
        display: block;
        font-size: vw(22);
        font-weight: 500;
        color:#333;
        letter-spacing: vw(-1);
        margin-top: vw(32);
        &:hover {
            color:#ee5400;
            text-decoration: underline;
        }
    }
}