.support {
    h1 {
        font-size: vw(30);
        font-weight: 700;
        color:#333;
        letter-spacing: vw(-2);
        text-align: center;
        padding-top: 6.667vw;  
        padding-bottom: vw(36);
    }
    .__wrap_top {
        padding-top: vw(36);  
        padding-bottom: 7.083vw;
        text-align: center;
        border-top: 0.167vw solid #bcbcbc;
        border-bottom: 0.167vw solid #bcbcbc;
        background: #f9f9f9;
        .search_box {
            margin:vw(30) auto 0;
        }
        
        p {
            font-size: vw(24);
            line-height: 1.42;
            letter-spacing: -0.2vw;
            font-weight: 500;
        }
    }
    .__list {
        margin-bottom: 15vw;
        li {
            display: flex;
            padding:6.667vw 0 6.667vw vw(30);
            border-bottom: 0.167vw solid #bcbcbc;
            font-size: vw(22);
            font-weight: 500;
            line-height: 1.36;
            letter-spacing: vw(-1);
            &:last-child {
                border-bottom: 0.167vw solid #bcbcbc;
            }
            &::before {
                content: '';
                display: block;
                width: vw(136);
                height: 20.500vw;
                border-radius: 1.667vw;
            }
            &:nth-child(1)::before {
                background:#f4f4f4 url(../img/support_01.svg) no-repeat 50% 50% / vw(51);
            }
            &:nth-child(2)::before {
                background:#f4f4f4 url(../img/support_02.svg) no-repeat 50% 50% / vw(68);
            }
            &:nth-child(3)::before {
                background:#f4f4f4 url(../img/support_03.svg) no-repeat 50% 50% / vw(90);
            }
            div {
                width: vw(377);
                margin-left: 4.083vw;
                word-break: keep-all;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 38.833vw;
                    height:8vw;
                    background: #ee4500;
                    border-radius: vw(24);
                    color:#fff;
                    font-size: vw(25);
                    letter-spacing: -0.208vw;
                    margin-top: vw(15);
                }
            }
        }
    }
    
}