.hanuri {
    .__greeting {
        padding:vw(55) vw(15);
        h1 {
            width: 100%;
            font-size: vw(40);
            letter-spacing: vw(-3);
            color:#000;
            text-align: center;
            font-family: "NanumSquare";
            margin-bottom: vw(48);
            b {
                font-weight: 700;
            }
        }
            
        img {
            width: vw(225);
            float: left;
            margin-right: vw(22.5);
        }
        p {
            font-size: vw(22);
            line-height: 1.6;
            letter-spacing: vw(-1.65);
            color:#333;
            margin-bottom: vw(30);
            &:last-child {
                margin-bottom: 0;
            }
            &.t1 {
                margin-top:vw(50);
                font-size: vw(24);
                text-align: right;
                line-height: 1;
                letter-spacing: vw(-1.8);
                b {
                    font-weight: 500;
                }
            }
        }
        &::after {
            display: block;
            content: '';
            clear: both;
        }
    }
}

@include desktop {
    .hanuri {
        .__greeting {
            width: 1200px;
            margin:0 auto;
            padding:50px 0;
            h1 {
                font-size: 40px;
                letter-spacing: -3px;
                margin-top: 10px;
                margin-bottom: 25px;
                display: inline-block;
                width: auto;
            }
                            
            img {
                width: 225px;
                margin-right: 35px;
                margin-bottom: 10px;
            }
            p {
                font-size: 22px;
                letter-spacing: -1.65px;
                margin-bottom: 25px;                    
                &.t1 {
                    margin-top: 50px;
                    font-size: 24px;
                    letter-spacing: -1.8px;
                }
            }
            
        }
    }
}