<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta property="og:type" content="website">
    <meta property="og:title" content="tamtam">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <title></title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link type="text/css" rel="stylesheet" href="../assets/css/common.min.css?123" />
</head>
<body>
<div class="bg_dimmed"></div>


<div id="wrap">
    <!-- header -->
    <header class="header">
        <section class="inner __top">
            <button id="btnMobile" class="m btn _menu"></button>
            <a href="#a" class="pc">전체메뉴</a>
            <h1 class="logo">
                <a href="#a"><img src="../assets/img/logo_m.svg" alt="한우리 독서지도사"></a>
            </h1>
            <button class="m btn _login"></button>
            <div class="pc">
                <a href="#a">회원가입</a>
                <a href="#a">로그인</a>
            </div>
        </section>        
    </header>
    <!--// header -->
    
    <nav class="main_menu">
        <section class="inner __nav">
            <ul>
                <li>
                <a href="#a">독서지도사</a>          
                </li>
                <li class="on">
                <a href="#a">수강신청</a>          
                </li>
                <li>
                <a href="#a">자격시험</a>
                </li>
                <li>
                <a href="#a">한우리교사</a>
                </li>        
            </ul>      
        </section>
        <section class="__sub_bg noscroll">
            <div class="__snav on">
                <a href="#a">왜 독서지도사인가?</a>
                <a href="#a" class="on">독서지도사는 한우리</a>
                <a href="#a">활동후기</a>
            </div>
            <div class="__snav">
                <a href="#a">독서지도사과정</a>
                <a href="#a">전체과정</a>
                <a href="#a">단체위탁과정</a>
            </div>
            <div class="__snav">
                <a href="#a">시험안내</a>
                <a href="#a">시험접수</a>
                <a href="#a">응시결과</a>
                <a href="#a">자격증신청</a>
                <a href="#a">보수교육</a>
            </div>
            <div class="__snav">
                <a href="#a">한우리교사안내</a>
                <a href="#a">입문과정</a>
            </div>      
        </section>
    </nav>
    <nav class="pc pc_menu">
        <div>
            <ul>
                <li><a href="#a">독서지도사</a></li>
                <li><a href="#a">수강신청</a></li>
                <li><a href="#a">자격시험</a></li>
                <li><a href="#a">한우리교사</a></li>
                <li><a href="#a">한우리캠퍼스</a></li>
                <li><a href="#a">고객센터</a></li>
                <li><a href="#a">내 강의실</a></li>
            </ul>
        </div>
        <div class="pc_sub_menu">
            <div class="inner">
                <div class="sub_menu">
                    <a href="#a">왜 독서지도사인가?</a>
                    <a href="#a">독서지도사는 한우리</a>
                    <a href="#a">활동후기</a>
                </div>
                <div class="sub_menu">
                    <a href="#a">독서지도사과정</a>
                    <a href="#a">전체과정</a>
                    <a href="#a">단체위탁과정</a>
                </div>
                <div class="sub_menu">
                    <a href="#a">시험안내</a>
                    <a href="#a">시험접수</a>
                    <a href="#a">응시결과</a>
                    <a href="#a">자격증신청</a>
                    <a href="#a">보수교육</a>
                </div>
                <div class="sub_menu">
                    <a href="#a">한우리교사안내</a>
                    <a href="#a">입문과정</a>
                </div>
                <div class="sub_menu">
                    <a href="#a">인사말</a>
                    <a href="#a">설립목적</a>
                    <a href="#a">연혁</a>
                    <a href="#a">위치안내</a>
                </div>
                <div class="sub_menu">
                    <a href="#a">공지사항</a>
                    <a href="#a">학습지원</a>
                    <a href="#a">이용안내</a>
                    <a href="#a">이용약관</a>
                </div>
                <div class="sub_menu">
                    <a href="#a">수강과정</a>
                    <a href="#a">결제대기</a>
                    <a href="#a">시험이력</a>
                    <a href="#a">자격이력</a>
                    <a href="#a">나의상담</a>
                </div>
            </div>
        </div>
    </nav>
