@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/functions';

@import 'base/reset';
@import 'base/font';

@import 'vendors/swiper';

@import 'layout/header';
@import 'layout/sidebar';
@import 'layout/footer';

@import 'pages/customer/notice';
@import 'pages/customer/support';
@import 'pages/customer/guide';
@import 'pages/customer/policy';
@import 'pages/customer/privacy';

@import 'pages/member/login';
@import 'pages/member/join';

@import 'pages/course/course';
@import 'pages/course/list';
@import 'pages/course/view';
@import 'pages/course/online';


/* common */
select.select {
	// padding: 5px 20px 5px 10px;
	padding: vw(5) vw(20) vw(5) vw(10);
	border-radius: 0;
	-webkit-appearance: none;
	border-radius: 0;
	border: vw(1) solid #c9c9c9;	
}
/* IE 에서 Select box 화살표 제거 */
select.select::-ms-expand {
	display: none;
}
input {
	outline: none;
}
button.btn {
	border: 0 none;
	background: transparent;
	cursor: pointer;
	outline: none;
	border-radius: vw(1);
}
a {
	text-decoration: none;
}
a.link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include link ( $full );
}
.btn {
	&.__top {
		position: fixed;
		right: vw(24);
		bottom:vw(212);
		width: vw(43);
		height: vw(43);
		background:#fff url(../img/btn_top.svg) no-repeat 50% 50% / vw(24) vw(15);
		border: vw(1) solid #777;
	}
}
.noscroll {
	scrollbar-width: none;
    -ms-overflow-style: none;
}
.noscroll::-webkit-scrollbar {
    display: none;
}

.search_box {
	margin:0 auto;
	border-radius: vw(25);
	border: solid vw(4) #ddd;
	background-color: #fff;
	width: vw(400);
	height: vw(50);
	display: flex;
	align-items: center;
	padding:0 vw(20);
	position: relative;
	input {
		border: 0 solid #000;
		background: transparent;
		font-size: vw(22);
		font-weight: 700;
		width: 100%;
		&::placeholder {
			color:#bbb;
		}
	}
	button {
		position: absolute;
		right:vw(20);
		top:50%;
		transform: translateY(-50%);
		width: vw(25);
		height: vw(25);
		background: url(../img/ico_search.svg) no-repeat 0 0 / cover;
		opacity: 0.4;
	}
}

.checkbox {
	display: inline-flex;
	width: vw(25);
	height: vw(25);
	background: #fff url( #{$url}/ico_checkbox.svg ) no-repeat 50% 50% / 99%;
	border: 0 solid #000;
	margin-right: vw(9.5);
	&:checked {
		background: url( #{$url}/ico_checkbox_on.svg ) no-repeat 50% 50% / 99%;
	}
}
.radio {
	display: inline-flex;
	width: vw(25);
	height: vw(25);
	background: url( #{$url}/ico_radio.svg ) no-repeat 50% 50% / 99%;
	border: 0 solid #000;
	margin-right: vw(9.5);
	&:checked {
		background: url( #{$url}/ico_radio_on.svg ) no-repeat 50% 50% / 99%;
	}
}
.pc {
	display: none;
}
.m {
	display: block;
}

/* pc layout common */
@include desktop {
	.m {
		display: none;
	}
	.pc {
		display: block;
	}

	main.main {
		// padding-top: px(31);
		h1 {
			height: px(23.5);
			display: flex;
			justify-content: center;
			align-items: center;
			padding:0;
			font-size: px(11);
			font-family: 'NanumSquare';
			line-height: 1.45;
			color:#333;
			background: #f3f3f3;
			position: relative;
			margin-bottom: px(35);
			&::before,
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: px(23.5);
				position: absolute;
				left:-100%;
				background: #f3f3f3;
			}
			&::after {
				left: auto;
				right:-100%;
				background: #f3f3f3;
			}
		}
		// .join,
		// .login {
		// 	h1 {
		// 		font-size: px(15);
		// 		letter-spacing: px(-0.75);
		// 		padding: px(0);
		// 		&:nth-of-type(2) {
		// 			margin-top: px(30);
		// 		}
		// 	}
		// }

	}
	// main.bg_grey {
	// 	// background:#f5f5f5;
	// }
	// main.member {
	// 	// padding-top: px(31);
	// 	// background:#f5f5f5;
	// }

	.card {
		width: px(360);
		margin:0 auto;
		border: 1px solid #ccc;
		padding:px(35.5) px(45) px(20.5);
	}

	select.select {
		padding: px(5) px(20) px(5) px(10);
		border: px(0.5) solid #c9c9c9;		
	}

	button.btn {
		border-radius: px(1.5);
	}
	.btn {
		&.__top {
			position: fixed;
			right: px(15);
			bottom:px(110);
			width: px(25.5);
			height: px(25.5);
			background:#fff url(../img/btn_top.svg) no-repeat 50% 50% / px(12) px(7.5);
			border: px(0.5) solid #777;
		}
	}

	.search_box {
		margin:0 auto;
		border-radius: px(12.4);
		border: solid px(2) #ddd;
		background-color: #fff;
		width: px(200);
		height: px(25);
		display: flex;
		align-items: center;
		padding:0 px(10);
		position: relative;
		input {
			border: 0 solid #000;
			background: transparent;
			font-size: px(11);
			font-weight: 700;
			width: 100%;
			&::placeholder {
				color:#bbb;
			}
		}
		button {
			position: absolute;
			right:px(10);
			top:50%;
			transform: translateY(-50%);
			width: px(12.5);
			height: px(12.5);
			background: url(../img/ico_search.svg) no-repeat 0 0 / cover;
			opacity: 0.4;
		}
	}

	.checkbox {
		width: px(11);
		height: px(11);
		background:#fff url( #{$url}/ico_checkbox.svg ) no-repeat 50% 50% / 99%;
		border: 0 solid #000;
		margin-right: px(6);
		&:checked {
			background: url( #{$url}/ico_checkbox_on.svg ) no-repeat 50% 50% / 99%;
		}
	}
	.radio {
		display: inline-flex;
		width: px(11);
		height: px(11);
		background: url( #{$url}/ico_radio.svg ) no-repeat 50% 50% / 99%;
		border: 0 solid #000;
		margin-right: px(6);
		&:checked {
			background: url( #{$url}/ico_radio_on.svg ) no-repeat 50% 50% / 99%;
		}
	}
}
