@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/functions';

@import 'base/reset';
@import 'base/font';
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import 'vendors/swiper';

@import 'layout/header';
@import 'layout/sidebar';
@import 'layout/footer';

@import 'pages/customer/notice';
@import 'pages/customer/support';
@import 'pages/customer/guide';
@import 'pages/customer/policy';
@import 'pages/customer/privacy';

@import 'pages/member/login';
@import 'pages/member/join';

@import 'pages/course/course';
@import 'pages/course/list';
@import 'pages/course/view';
@import 'pages/course/online';

@import 'pages/class/class';
@import 'pages/class/list';
@import 'pages/class/survey';
@import 'pages/class/notice';
@import 'pages/class/task';
@import 'pages/class/refer';
@import 'pages/class/delay';

@import 'pages/mypage/mypage';

body {font-size: vw(22);}
/* common */
select.select {
	// padding: 5px 20px 5px 10px;
	padding: vw(5) vw(20) vw(5) vw(10);
	border-radius: 0;
	-webkit-appearance: none;
	border-radius: 0;
	border: vw(1) solid #c9c9c9;	
}
/* IE 에서 Select box 화살표 제거 */
select.select::-ms-expand {
	display: none;
}
input {
	outline: none;
}
button.btn {
	border: 0 none;
	background: transparent;
	cursor: pointer;
	outline: none;
	border-radius: vw(1);
}
a {
	text-decoration: none;
}
a.link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include link ( $full );
}
.btn {
	&.__top {
		position: fixed;
		right: vw(24);
		bottom:vw(212);
		width: vw(43);
		height: vw(43);
		background:#fff url(../img/btn_top.svg) no-repeat 50% 50% / vw(24) vw(15);
		border: vw(1) solid #777;
	}
}
.noscroll {
	scrollbar-width: none;
    -ms-overflow-style: none;
}
.noscroll::-webkit-scrollbar {
    display: none;
}

.search_box {
	margin:0 auto;
	border-radius: vw(25);
	border: solid vw(4) #ddd;
	background-color: #fff;
	width: vw(400);
	height: vw(50);
	display: flex;
	align-items: center;
	padding:0 vw(20);
	position: relative;
	input {
		border: 0 solid #000;
		background: transparent;
		font-size: vw(22);
		font-weight: 700;
		width: 100%;
		&::placeholder {
			color:#bbb;
		}
	}
	button {
		position: absolute;
		right:vw(20);
		top:50%;
		transform: translateY(-50%);
		width: vw(35);
		height: vw(35);
		background: url(../img/ico_search.svg) no-repeat 0 0 / cover;
		opacity: 0.4;
	}
}
.cus_select {
	border-radius: 0;
	-webkit-appearance: none;
	border-radius: vw(1);
	border: vw(1) solid #999;
	width: 100%;
	height: vw(44);
	padding:0 vw(18.5);
	font-size: vw(22);
	color:#333;
	background:#f9f9f9 url(../img/ico_select.svg) no-repeat right vw(15) top 50% / vw(26);
}
/* IE 에서 Select box 화살표 제거 */
.cus_select::-ms-expand {
	display: none;
}

.checkbox {
	display: inline-flex;
	width: vw(25);
	height: vw(25);
	background: #fff url( #{$url}/ico_checkbox.svg ) no-repeat 50% 50% / 99%;
	border: 0 solid #000;
	margin-right: vw(9.5);
	&:checked {
		background: url( #{$url}/ico_checkbox_on.svg ) no-repeat 50% 50% / 99%;
	}
}
.radio {
	display: inline-flex;
	width: vw(25);
	height: vw(25);
	background: url( #{$url}/ico_radio.svg ) no-repeat 50% 50% / 99%;
	border: 0 solid #000;
	margin-right: vw(9.5);
	&:checked {
		background: url( #{$url}/ico_radio_on.svg ) no-repeat 50% 50% / 99%;
	}
}
.pc {
	display: none !important;
}
.m {
	display: block !important;
}
.pc_f {
	display: none !important;
}
.m_f {
	display: flex !important;
}
.tbl_list {
	border-top: 1px solid #999;
	th,td {
		border-bottom: 1px solid #999;
		font-size: vw(22);
		letter-spacing: vw(-1);
	}
	th {
		background-color: #f3f3f3;
		font-weight: 500;
		text-align: right;
		padding:vw(17) vw(33) vw(16) vw(0);
		vertical-align: middle;
	}
	td {
		vertical-align: middle;
		padding:vw(17) vw(28) vw(16);
		font-weight: 400;
		word-break: keep-all;
		b {
			font-weight: 700;
			&.price {
				color:#ee4500;
			}
		}
		.btn {
			height: vw(33);
			color:#fff;
			padding:0 vw(17);
			background-color: #999;
			border-radius: 5px;
			font-size: vw(20);
			font-weight: 700;
		}
		p {
			margin-bottom: vw(10);
			&:last-child {
				margin-bottom: 0;
			}
		}
		textarea {
			border: 1px solid #999;
			width: 100%;
			height: vw(81);
			resize: none;
			overflow-y: auto;
			padding:vw(10);
			font-size: vw(22);
		}
		.input {
			width: 100%;
			border: 1px solid #999;
			padding:vw(5) vw(10);
		}
		.select_box {
			width: 80%;
			.cus_select {
				background-color: #fff;
			}
		}
		.img_box {
			width: vw(120);
			img {
				width: 100%;
			}
		}
	}
}
.tbl_list2 {
	thead th {
		border-bottom: 1px solid #999;
		font-weight: 700;
	}
	th,td {
		border-bottom: 1px solid #bbb;
	}
	th {
		padding:vw(16) 0 vw(15);
		background-color: #f9f9f9;
	}
	td {
		padding:vw(20) 0;
		text-align: center;
		b {
			font-weight: 700;
		}
	}
	.txt_l {
		text-align: left;
		padding-left: vw(40);
	}
	.td_bg {
		background-color: #f9f9f9;
	}
	.status {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: vw(100);
		height: vw(33);
		border-radius: 5px;
		background-color: #333;
		color:#fff;
		font-size: vw(20);
		letter-spacing: vw(-1);
		font-weight: 700;
		&.type1 {
			background-color: #999;
		}
	}
}
.tbl_list3 {
	th,td {
		border-bottom: 1px solid #bbb;
	}
	th {
		padding:vw(16) 0 vw(15);
		background-color: #f9f9f9;
		letter-spacing: vw(-1);
		span {
			font-weight: 400;
		}
	}
	td {
		padding:vw(20) 0;
		text-align: center;
		background-color: #f9f9f9;
	}
	.txt_l {
		text-align: left;
		padding-left: vw(40);
	}
	.td_bg {
		background-color: #fff;
	}
	.status {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: vw(100);
		height: vw(33);
		border-radius: 5px;
		background-color: #333;
		color:#fff;
		font-size: vw(20);
		letter-spacing: vw(-1);
		font-weight: 700;
		&.type1 {
			background-color: #999;
		}
	}
}
.tbl_list4 {
	border-top: 1px solid #999;
	th,td {
		border-bottom: 1px solid #999;
		font-size: vw(22);
		letter-spacing: vw(-1);
		text-align: center;
		padding:vw(17) 0 vw(16);
	}
	th {
		background-color: #f3f3f3;
		font-weight: 500;
		vertical-align: middle;
		border-left: 1px solid #999;
		&:first-child {
			border-left: 0 solid #000;
		}
	}
	td {
		vertical-align: middle;
		font-weight: 400;
		border-left: 1px solid #999;
		&:first-child {
			border-left: 0 solid #000;
		}
	}
}
.tbl_list5 {
	border-top: 1px solid #999;
	th,td {
		border-bottom: 1px solid #999;
		font-size: vw(22);
		letter-spacing: vw(-1);
		text-align: center;
		padding:vw(17) 0 vw(16);
	}
	th {
		background-color: #f3f3f3;
		font-weight: 500;
		vertical-align: middle;		
	}
	td {
		vertical-align: middle;
		font-weight: 400;	
		b {
			font-weight: 500;
		}	
	}
}
.tbl_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:vw(17) vw(20) vw(18) vw(40);
	background-color: #f3f3f3;
	border-top: 1px solid #999;
	&.txt_c {
		p {
			width: 100%;
			text-align: center;
		}
	}
	&.no_bdt {
		border-top: 0 solid #000;
	}
	p {
		font-size: vw(25);
		font-weight: 700;
		color:#333;
		letter-spacing: vw(-1.25);
	}
	.btn_pc_write {
		display: flex;
		justify-content: center;
		align-items: center;
		height: vw(51);
		margin-left: auto;
		padding:0 vw(14);
		background-color: #ee4500;
		border-radius: 5px;
		color:#fff;
		font-size: vw(25);
		letter-spacing: vw(-1);
		font-weight: 500;
		border: 0 solid #000;
	}
}
form .btn_cert {
	position: absolute;
	right:0;
	top:0;
	width: 100%;
	height: 100%;
	background: #666;
	border-radius: vw(3);
	color:#fff;
	font-size: 16vw;
	font-weight: 700;
	letter-spacing: vw(-1.1);
}

.__layer {
	// display: none;
	width: 100%;
	position: fixed;
	z-index: 201;
	left: 0;
	background-color: #fff;
	border-top-left-radius: vw(20);
	border-top-right-radius: vw(20);
	padding:0 vw(15);
	transition: all .5s;
	bottom:-200%;
	&.on {
		display: block;
		bottom:0;
	}
	.btn_setting_reload {
		position: absolute;
		left:vw(20);
		top:vw(15);
		width: vw(32);
		height: vw(37);
		border: 0 solid #000;
		background: transparent;
		opacity: .5;
		img {
			width: 100%;
		}
	}
	.btn_setting_closed {
		position: absolute;
		right:vw(20);
		top:vw(22);
		width: vw(28);
		height: vw(28);
		border: 0 solid #000;
		background: transparent;
		opacity: .5;
		img {
			width: 100%;
		}
	}
	.tit {
		text-align: center;
		font-weight: 700;
		font-size: vw(28);
		letter-spacing: vw(-1.4);
		padding:vw(23) 0;
		border-bottom: vw(0.5) solid #999;
		line-height: vw(30);
		margin-bottom: vw(38);
	}
	.btn_wrap {
		margin: vw(32) 0;
		display: flex;		
		justify-content: space-between;
		button {
			display: flex;
			justify-content: center;
			align-items: center;
			height: vw(60);
			width: 49%;
			font-size: vw(25);
			font-weight: 700;
			letter-spacing: vw(-1.25);
			border-radius: 3px;
			background-color: #666;
			color:#fff;
			border: 0 solid #000;
			&:last-child {
				background-color: #ee5400;
			}
		}
	}
}

.tab_wrap {
	margin-top: vw(60);
	padding:0 vw(15);
	display: flex;
	justify-content: space-between;
	width: 100%;
	button {
		width: calc(100% / 4);
		border: px(0.5) solid #999;
		border-right: 0 solid #000;
		background-color: #f3f3f3;
		height: vw(53);
		color:#666;
		font-size: vw(22);
		letter-spacing: vw(-1.1);
		font-weight: 500;
		box-sizing: border-box;
		&:last-child {
			border-right: px(0.5) solid #999;
		}
		&.on {
			color:#fff;
			font-weight: 700;
			background-color: #999;
		}
	}
}
.tab_container {
	width: 100%;
	padding:0 vw(15);
	.introduction {
		padding: vw(45.5) 0;
		.tit {
			font-size: vw(22);
			font-weight: 500;
			line-height: 1.36;
			letter-spacing: vw(-1.1);
			color: #333;
			margin-bottom: vw(51.5);
			word-break: keep-all;
		}
		.stit {
			font-size: vw(22);
			font-weight: 700;
			color:#333;
			letter-spacing: vw(-1.1);
			& + div {
				margin: vw(14) 0;
				span {
					font-size: vw(22);
					color:#333;
					letter-spacing: vw(-1.1);
					display: inline-flex;
					align-items: center;
					height: vw(39);
					padding:0 vw(20) vw(0.5);
					border-radius: 10px;
					background-color: #f3f3f3;
					margin-right: vw(5);
				}
			}
		}
	}
	
	.list {
		margin: vw(14) 0 vw(26);
		border-radius: 10px;
		background-color: #f3f3f3;
		padding:vw(20);
		font-size: vw(22);
		line-height: 1.27;
		letter-spacing: vw(-1.1);
	}
	.review {
		padding: vw(8) 0 vw(45.5);
		li {
			border-bottom: vw(0.5) solid #d6d6d6;
			padding:vw(20) 0 vw(33);
		}
		.profile_box {
			display: flex;
			align-items: center;
			> img {
				width: vw(35);
				margin-right: vw(9);
			}
			.user {
				font-size: vw(22);
				font-weight: 500;
				color:#666;
				letter-spacing: vw(-1.1);
			}
			.point {
				margin-left: vw(11.5);
				background-image: url(../img/ico_star.png);
				background-repeat: no-repeat;
				background-size: cover;
				width: vw(103);
				height: vw(19);
				&.num10 {
					background-position: 0 0;
				}
				&.num9 {
					background-position: 0 vw(-20);
				}
				&.num8 {
					background-position: 0 vw(-40);
				}
				&.num7 {
					background-position: 0 vw(-60);
				}
				&.num6 {
					background-position: 0 vw(-80);
				}
				&.num5 {
					background-position: 0 vw(-100);
				}
				&.num4 {
					background-position: 0 vw(-120);
				}
				&.num3 {
					background-position: 0 vw(-140);
				}
				&.num2 {
					background-position: 0 vw(-160);
				}
				&.num1 {
					background-position: 0 vw(-180);
				}
				&.num0 {
					background-position: 0 vw(-200);
				}
			}
		}
		.txt {
			margin-top: vw(16.5);
			&::after {
				content: '';
				display: block;
				clear: both;
			}
			p {
				overflow : hidden;
				font-size: vw(22);
				line-height: 1.36;
				letter-spacing: vw(-1.1);
				color:#333;
				max-height: vw(150);                        
				a {
					color:#999;
					font-weight: 700;
					margin-left: vw(10);
				}
			}
			img {
				float: right;
				width: vw(220);
				margin-left: vw(20);
			}
		}
	}
	.study {
		padding: vw(25) 0 vw(45.5);
		.tit {
			display: flex;
			align-items: center;
			height: vw(48);
			padding:0 vw(20);
			margin-bottom: vw(10);
			border-radius: vw(10);
			background-color: #eee;
			font-size: vw(22);
			color:#333;
			letter-spacing: vw(-1.1);
			font-weight: 500;
			background: #eee url(../img/ico_plus.svg) no-repeat right vw(13) top 50% / vw(28);
			&.on {
				background: #eee url(../img/ico_minus.svg) no-repeat right vw(13) top 50% / vw(28);
			}
		}
		.txt_list {
			display: none;			
			margin:vw(10) 0;
			border-radius: vw(10);
			border: solid vw(0.5) #ccc;
			background-color: #fff;			
			padding:vw(10);
			margin-bottom: vw(6.5);
			font-size: vw(22);
			line-height: vw(31);
			&.on {
				display: flex;
			}
			
			span {
				display: inline-flex;
				width: vw(34);
				height: vw(31);
				line-height: vw(31);
				justify-content: center;
				align-items: center;					
				color: #fff;
				font-weight: #700;
				font-size: vw(22);
				letter-spacing: vw(-1.1);
				border-radius: vw(5);
				background-color: #ababab;
				margin-right: vw(13);
			}
		}
	}
	.instructor {
		padding:vw(26) 0 vw(45.5);
		.profile_box {
			display: flex;
			align-items: center;
			> img {
				width: vw(35);
				margin-right: vw(9);
			}
			.user {
				font-size: vw(22);
				font-weight: 500;
				color:#666;
				letter-spacing: vw(-1.1);
			}
		}
	}
}

.mgt50 {
	margin-top: vw(50);
}
.add_file_wrap {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 0 solid #000;
	color:#fff;
	height: vw(40);
	padding:vw(1.5) vw(15) vw(2.5);
	background-color: #666;
	border-radius: vw(3);
	font-weight: 700;
	margin-right: vw(10);
	font-size: vw(22);
	width: max-content;
	.add_file {
		display: none !important;
	}
}
.attachName {
	width: max-content !important;
	height: vw(40);
	line-height: vw(40);
	padding:0 vw(10);
	margin:0 !important;
	border: 0 solid #000 !important;
}   


/* pc layout common */
@include desktop {
	body {font-size: px(11);}
	.m {
		display: none !important;
	}
	.pc {
		display: block !important;
	}
	.m_f {
		display: none !important;
	}
	.pc_f {
		display: flex !important;
	}
	
	.__layer {
		display: none;
		width: px(310);
		position: fixed;
		z-index: 201;
		left: 50%;
		background-color: #fff;
		border-radius: px(10);
		padding:0 px(12);
		top:50%;
		bottom:auto;
		transform: translate(-50%,-50%);
		&.on {
			display: block;
			bottom:auto;
		}
		.btn_setting_reload {
			position: absolute;
			left:px(15);
			top:px(7.5);
			width: px(16);
			height: px(19);
			border: 0 solid #000;
			background: transparent;
			opacity: .5;
			img {
				width: 100%;
			}
		}
		.btn_setting_closed {
			position: absolute;
			right:px(15);
			top:px(11);
			width: px(14);
			height: px(14);
			border: 0 solid #000;
			background: transparent;
			opacity: .5;
			img {
				width: 100%;
			}
		}
		.tit {
			text-align: center;
			font-weight: 700;
			font-size: px(12.5);
			letter-spacing: px(-1.25);
			padding:px(12) 0;
			border-bottom: px(0.25) solid #999;
			line-height: 1.2;
			margin-bottom: px(20);
		}
		.btn_wrap {
			margin: px(16) 0;
			display: flex;		
			justify-content: space-between;
			button {
				display: flex;
				justify-content: center;
				align-items: center;
				height: px(30);
				width: 49%;
				font-size: px(12.55);
				font-weight: 700;
				letter-spacing: px(-0.625);
				border-radius: 3px;
				background-color: #666;
				color:#fff;
				border: 0 solid #000;
				&:last-child {
					background-color: #ee5400;
				}
			}
		}
	}
	// main.main {
		// padding-top: px(31);
		
		// .join,
		// .login {
		// 	h1 {
		// 		font-size: px(15);
		// 		letter-spacing: px(-0.75);
		// 		padding: px(0);
		// 		&:nth-of-type(2) {
		// 			margin-top: px(30);
		// 		}
		// 	}
		// }

	// }
	// main.bg_grey {
	// 	// background:#f5f5f5;
	// }
	// main.member {
	// 	// padding-top: px(31);
	// 	// background:#f5f5f5;
	// }

	.card {
		width: px(360);
		margin:0 auto;
		border: 1px solid #ccc;
		padding:px(35.5) px(45) px(20.5);
	}

	select.select {
		padding: px(5) px(20) px(5) px(10);
		border: px(0.5) solid #c9c9c9;		
	}

	button.btn {
		border-radius: px(1.5);
	}
	.btn {
		&.__top {
			position: fixed;
			right: px(15);
			bottom:px(110);
			width: px(25.5);
			height: px(25.5);
			background:#fff url(../img/btn_top.svg) no-repeat 50% 50% / px(12) px(7.5);
			border: px(0.5) solid #777;
		}
	}

	.search_box {
		margin:0 auto;
		border-radius: px(12.4);
		border: solid px(2) #ddd;
		background-color: #fff;
		width: px(200);
		height: px(25);
		display: flex;
		align-items: center;
		padding:0 px(10);
		position: relative;
		input {
			border: 0 solid #000;
			background: transparent;
			font-size: px(10);
			font-weight: 700;
			width: 100%;
			letter-spacing: px(-0.5);
			&::placeholder {
				color:#bbb;
			}
		}
		button {
			position: absolute;
			right:px(10);
			top:50%;
			transform: translateY(-50%);
			width: px(12.5);
			height: px(12.5);
			background: url(../img/ico_search.svg) no-repeat 0 0 / cover;
			opacity: 0.4;
		}
	}

	.checkbox {
		width: px(11);
		height: px(11);
		background:#fff url( #{$url}/ico_checkbox.svg ) no-repeat 50% 50% / 99%;
		border: 0 solid #000;
		margin-right: px(6);
		&:checked {
			background: url( #{$url}/ico_checkbox_on.svg ) no-repeat 50% 50% / 99%;
		}
	}
	.radio {
		display: inline-flex;
		width: px(11);
		height: px(11);
		background: url( #{$url}/ico_radio.svg ) no-repeat 50% 50% / 99%;
		border: 0 solid #000;
		margin-right: px(6);
		&:checked {
			background: url( #{$url}/ico_radio_on.svg ) no-repeat 50% 50% / 99%;
		}
	}
	.cus_select {
		border-radius: 0;
		-webkit-appearance: none;
		border-radius: px(0.5);
		border: px(0.5) solid #999;
		width: 100%;
		height: px(22);
		padding:0 px(9.25);
		font-size: px(11);
		color:#333;
		background:#f9f9f9 url(../img/ico_select.svg) no-repeat right px(7.5) top 50% / px(13);
	}
	form .btn_cert {
		position: absolute;
		right:0;
		background: #666;
		color:#fff;
		font-weight: 700;
		top:0;
		width: px(62);
		height: px(26);
		border-radius: px(1.5);
		letter-spacing: px(-0.5);
	}

	.tab_wrap {
		margin-top: px(30);
		padding:0;
		display: flex;
		justify-content: space-between;
		width: 100%;
		button {
			width: calc(100% / 4);
			border: px(0.5) solid #999;
			border-right: 0 solid #000;
			background-color: #f3f3f3;
			height: px(26.5);
			color:#666;
			font-size: px(11);
			letter-spacing: px(-0.55);
			font-weight: 500;
			&:last-child {
				border-right: px(0.5) solid #999;
			}
			&.on {
				color:#fff;
				font-weight: 700;
				background-color: #999;
			}
		}
	}
	.tab_container {
		width: 100%;
		padding:0 px(7.5);
		.introduction {
			padding: px(20) 0;
			.tit {
				font-size: px(11);
				font-weight: 500;
				line-height: 1.36;
				letter-spacing: px(-0.5);
				color: #333;
				margin-bottom: px(25.75);
				word-break: keep-all;
			}
			.stit {
				font-size: px(11);
				font-weight: 700;
				color:#333;
				letter-spacing: px(-0.55);
				& + div {
					margin: px(7) 0;
					span {
						font-size: px(11);
						color:#333;
						letter-spacing: px(-0.55);
						display: inline-flex;
						align-items: center;
						height: px(19.5);
						padding:0 px(7.5);
						border-radius: px(5);
						background-color: #f3f3f3;
					}
				}
			}
		}
		
		.list {
			margin: px(7) 0 px(13);
			border-radius: px(5);
			background-color: #f3f3f3;
			padding:px(10);
			font-size: px(11);
			line-height: 1.27;
			letter-spacing: px(-0.55);
		}
		.review {
			padding: px(4) 0 px(22.75);
			li {
				border-bottom: px(0.5) solid #d6d6d6;
				padding:px(10) 0 px(16.5);
			}
			.profile_box {
				display: flex;
				align-items: center;
				> img {
					width: px(17.5);
					margin-right: px(4.5);
				}
				.user {
					font-size: px(11);
					font-weight: 500;
					color:#666;
					letter-spacing: px(-0.55);
				}
				.point {
					margin-left: px(6);
					background-image: url(../img/ico_star.png);
					background-repeat: no-repeat;
					background-size: cover;
					width: px(51.5);
					height: px(9.5);
					&.num10 {
						background-position: 0 0;
					}
					&.num9 {
						background-position: 0 px(-10);
					}
					&.num8 {
						background-position: 0 px(-20);
					}
					&.num7 {
						background-position: 0 px(-30);
					}
					&.num6 {
						background-position: 0 px(-40);
					}
					&.num5 {
						background-position: 0 px(-50);
					}
					&.num4 {
						background-position: 0 px(-60);
					}
					&.num3 {
						background-position: 0 px(-70);
					}
					&.num2 {
						background-position: 0 px(-80);
					}
					&.num1 {
						background-position: 0 px(-90);
					}
					&.num0 {
						background-position: 0 px(-100);
					}
				}
			}
			.txt {
				margin-top: px(8.25);
				p {
					overflow : hidden;
					text-overflow:none;
					display: block;
					// -webkit-line-clamp:;
					// -webkit-box-orient: vertical;
					font-size: px(11);
					line-height: 1.36;
					letter-spacing: px(-0.55);
					color:#333;
					max-height: auto;
					&::after {
						content: '';
						display: block;
						clear: both;
					}
					a {
						display: none;
						color:#999;
						font-weight: 700;
						margin-left: px(5);
					}
				}
				img {
					float: right;
					width: px(180);
					margin-left: px(10);
				}
			}
		}
		.study {
			padding: px(12.5) 0 px(22.75);
			.tit {
				display: flex;
				align-items: center;
				height: px(24);
				padding:0 px(10);
				margin-bottom: px(5);
				border-radius: px(5);
				background-color: #eee;
				font-size: px(11);
				color:#333;
				letter-spacing: px(-0.55);
				font-weight: 500;
				background: #eee url(../img/ico_plus.svg) no-repeat right px(6.5) top 50% / px(14);
				&.on {
					background: #eee url(../img/ico_minus.svg) no-repeat right px(6.5) top 50% / px(14);
				}
			}
			.txt_list {
				display: none;
				margin:px(5) 0;
				border-radius: px(5);
				border: solid px(0.5) #ccc;
				background-color: #fff;
				height: px(24);
				align-items: center;
				padding:0 px(5);
				margin-bottom: px(3.25);
				font-size: px(11);	
				&.on {
					display: flex;
				}
							
				span {
					display: inline-flex;
					width: px(17);
					height: px(15.5);
					justify-content: center;
					align-items: center;

					color: #fff;
					font-weight: #700;
					font-size: px(11);
					letter-spacing: px(-0.55);
					border-radius: px(2.5);
					background-color: #ababab;
					margin-right: px(6.5);
				}
			}
		}
		.instructor {
			padding:px(13) 0 px(22.75);
			.profile_box {
				display: flex;
				align-items: center;
				> img {
					width: px(17.5);
					margin-right: px(4.5);
				}
				.user {
					font-size: px(11);
					font-weight: 500;
					color:#666;
					letter-spacing: px(-0.55);
				}
			}
		}
	}

	.tbl_list {
		border-top: 1px solid #999;
		th,td {
			border-bottom: 1px solid #999;
			font-size: px(11);
			letter-spacing: px(-0.5);
		}
		th {
			background-color: #f3f3f3;
			font-weight: 500;
			text-align: right;
			padding:px(8.5) px(16.5) px(8) px(0);
			vertical-align: middle;
		}
		td {
			vertical-align: middle;
			padding:px(8.5) px(14) px(8);
			font-weight: 400;
			word-break: keep-all;
			b {
				font-weight: 700;
				&.price {
					color:#ee4500;
				}
			}
			.btn {
				height: px(15.5);
				color:#fff;
				padding:0 px(8.5);
				background-color: #999;
				border-radius: 5px;
				font-size: px(10);
				font-weight: 700;
			}
			p {
				margin-bottom: px(5);
				&:last-child {
					margin-bottom: 0;
				}
			}
			textarea {
				border: 1px solid #999;
				width: 100%;
				height: px(40.5);
				resize: none;
				overflow-y: auto;
				padding:px(10);
				font-size: px(11);
			}
			.input {
				width: 100%;
				border: 1px solid #999;
				padding:px(2.5) px(5);
			}
			.select_box {
				width: 80%;
				.cus_select {
					background-color: #fff;
				}
			}
			.img_box {
				width: px(60);
				img {
					width: 100%;
				}
			}
		}
	}
	.tbl_list2 {
		th,td {
			border-bottom: 1px solid #bbb;
		}
		th {
			padding:px(8) 0 px(7.5);
			background-color: #f9f9f9;
		}
		td {
			padding:px(10) 0;
			text-align: center;
		}
		.txt_l {
			text-align: left;
			padding-left: px(20);
		}
		.td_bg {
			background-color: #f9f9f9;
		}
		.status {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: px(50);
			height: px(16.5);
			border-radius: 5px;
			background-color: #333;
			color:#fff;
			font-size: px(10);
			letter-spacing: px(-0.5);
			font-weight: 700;
			&.type1 {
				background-color: #999;
			}
		}
	}
	.tbl_list3 {
		th,td {
			border-bottom: 1px solid #bbb;
		}
		th {
			padding:px(8) 0 px(7.5);
			background-color: #f9f9f9;
			letter-spacing: px(-0.5);
			span {
				font-weight: 400;
			}
		}
		td {
			padding:px(10) 0;
			text-align: center;
			background-color: #f9f9f9;
		}
		.txt_l {
			text-align: left;
			padding-left: px(20);
		}
		.td_bg {
			background-color: #fff;
		}
		.status {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: px(50);
			height: px(16.5);
			border-radius: 5px;
			background-color: #333;
			color:#fff;
			font-size: px(10);
			letter-spacing: px(-0.5);
			font-weight: 700;
			&.type1 {
				background-color: #999;
			}
		}
	}
	.tbl_list4 {
		border-top: 1px solid #999;
		th,td {
			border-bottom: 1px solid #999;
			font-size: px(11);
			letter-spacing: px(-0.5);
			text-align: center;
			padding:px(8.5) 0 px(8);
		}
		th {
			background-color: #f3f3f3;
			font-weight: 500;
			vertical-align: middle;
			border-left: 1px solid #999;
			&:first-child {
				border-left: 0 solid #000;
			}
		}
		td {
			vertical-align: middle;
			font-weight: 400;
			border-left: 1px solid #999;
			&:first-child {
				border-left: 0 solid #000;
			}
		}
	}
	.tbl_list5 {
		border-top: 1px solid #999;
		th,td {
			border-bottom: 1px solid #999;
			font-size: px(11);
			letter-spacing: px(-0.5);
			text-align: center;
			padding:px(8.5) 0 px(8);
		}
		th {
			background-color: #f3f3f3;
			font-weight: 500;
			vertical-align: middle;		
		}
		td {
			vertical-align: middle;
			font-weight: 400;		
		}
	}
	.tbl_top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding:px(8.5) px(10) px(9) px(20);
		background-color: #f3f3f3;
		border-top: 1px solid #999;
		&.txt_c {
			p {
				width: 100%;
				text-align: center;
			}
		}
		&.no_bdt {
			border-top: 0 solid #000;
		}
		p {
			width: 100%;
			font-size: px(12.5);
			font-weight: 700;
			color:#333;
			letter-spacing: px(-0.625);
			text-align: center;
		}
		.btn_pc_write {
			display: flex;
			justify-content: center;
			align-items: center;
			height: px(25.5);
			margin-left: auto;
			padding:0 px(7);
			background-color: #ee4500;
			border-radius: 5px;
			color:#fff;
			font-size: px(12.5);
			letter-spacing: vw(-1);
			font-weight: 500;
			border: 0 solid #000;
		}
	}
	.mgt50 {
		margin-top: px(25);
	}
	.add_file_wrap {
		
		height: px(15.5);
		padding:0 px(10);
		border-radius: px(3);		
		margin-right: px(5);
		font-size: px(10);
		.add_file {
			display: none;
		}
	}
	.attachName {
		width: max-content;
		height: 20px;
		line-height: 20px;
		padding:0 10px;
		border: 0 solid #000;
	}   
	
}
