footer.footer {
    background: #f5f5f5;
    padding-bottom: vw(35);
    text-align: center;
    .foot_list {
        width: 100%;
        font-family: 'NanumSquare';
        background: #9a9a9a;
        display: flex;
        li {
            width: vw(194);
            &:nth-child(2) {
                width: vw(195);
                border-left: vw(1) solid #fff;
                border-right: vw(1) solid #fff;
            }
            &:nth-child(3) {
                width: vw(211);
            }
        }
        a {
            width: 100%;
            font-size: vw(20);
            padding:vw(15) 0;
            color:#fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .footer_logo {
        margin-top: vw(27);
        margin-bottom: vw(21);
        img {
            width: vw(147);
        }            
    }
    .t1 {
        line-height: 1.44;
        letter-spacing: vw(-0.9);
        color: #333;
        font-size: vw(18);
        &:last-child {
            margin-top: vw(6);
        }
    }
}