header.header {
    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;        
    }
    .__top {
        .logo {
            img {
                width: 35vw;
            }
        }
        ._menu {
            width: 5.5vw;
            height: 4.167vw;
            background: url(../img/btn_m_menu.svg) no-repeat 0 0 / cover;
        }
        .login {
            width: 5.167vw;
            height: 6.500vw;
        }
    }
}