.course {
    &.__commission {
        overflow: hidden;
        padding:0 vw(30) vw(50);
        .tab_link_wrap {
            padding:0;
        }
        h2 {
            font-size: vw(25);
            font-weight: 700;
            color:#333;
            letter-spacing: vw(-1.25);
            + .txt {
                font-size: vw(22);
                color:#333;
                letter-spacing: vw(-1);
                margin-top: vw(20);
            }
        } 
        
        .img_cont {
            position: relative;
            background-color: #eee;
            margin-top: vw(30);
            padding:vw(30) 0;
            display: flex;
            justify-content: space-between;
            &::after {
                content: '';
                display: block;
                width: 200%;
                height: 100%;
                position: absolute;
                left: -50%;
                top:0;
                background: #eee;
                z-index: -1;
            }
            &::before {
                content: '';
                display: block;
                width: 200%;
                height: 100%;
                position: absolute;
                right: -50%;
                top:0;
                background: #eee;
                z-index: -1;
            }
            .box {
                width: 50%;
                text-align: center;
                p {
                    font-size: vw(20);
                    letter-spacing: vw(-0.25);
                    margin-top: vw(25);
                    color:#333;
                }
                img {
                    width: vw(150);
                }
            }
        }
        
        .inner {

            .tit {
                width: vw(310);
                margin:vw(60) auto vw(40);
                img {
                    width: 100%;
                }
            }

            .contents_list {
                display: flex;
                justify-content: space-between;
                li {
                    overflow: hidden;
                    width: vw(260.5);
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    background: #eee;
                    .t1 {
                        background: #234a9b;
                        color:#fff;
                        font-size: vw(22);
                        letter-spacing: vw(-1);
                        font-weight: 700;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: vw(50);
                    }
                    .t2 {
                        padding:vw(20) vw(22);
                        font-size: vw(22);
                        color:#333;
                        letter-spacing: vw(-1.65);
                        line-height: 1.36;
                        text-align: center;
                    }
                }
            }

            .info_list {
                .t1 {
                    margin-top: vw(40);
                    font-size: vw(28);
                    font-weight: 500;
                    color:#000;
                    letter-spacing: vw(-2);
                    text-align: center;
                }
                .t2 {
                    margin-top: vw(17.5);
                    img {
                        width: 100%;
                    }
                }
            }
            .__download {
                width: 100%;
                height: vw(60.5);
                margin-top: vw(32);
                background-color: #234a9b;
                span {
                    padding-right: vw(30);
                    font-size: vw(25);
                    font-weight: 700;
                    color:#fff;
                    letter-spacing: vw(-1.25);
                    background: url(../img/ico_doc.svg) no-repeat 100% 50% / vw(23);
                }
            }
        }
    }

    &.__commission_list {
        h2 {
            font-size: vw(25);
            font-weight: 700;
            color:#333;
            letter-spacing: vw(-1.25);
            margin-left: vw(30);
            margin-bottom: vw(20);
        }
        .board_list {
            border-top: 1px solid #999;
        }
    }

    &.__commission_write {
        h2 {
            font-size: vw(25);
            font-weight: 700;
            color:#333;
            letter-spacing: vw(-1.25);
            margin-left: vw(30);
            margin-bottom: vw(20);
            &.tit {
                display: flex;
                justify-content: center;
                align-items: center;
                height: vw(50);
                background: #eee;
                border-top: 1px solid #aaa;
                border-bottom: 1px solid #aaa;
                box-sizing: border-box;
                margin: vw(60) 0 0;
            }
        }
        .step_list {
            display: flex;
            flex-wrap: wrap;
            padding-left: vw(29.5);
            margin-bottom: vw(40);
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                width: vw(110.5);
                height: vw(80.5);
                font-size: vw(20);
                color:#000;
                letter-spacing: vw(-1.5);
                background: #cde2f6;
                border-radius: 10px;
                margin-right: vw(25);
                margin-bottom: vw(19.5);
                text-align: center;
                position: relative;
                &::after {
                    content: '';
                    display: block;
                    width: vw(11.5);
                    height: vw(19);
                    background: url(../img/course/ico_arrow_right.svg) no-repeat 0 0 / cover;
                    position: absolute;
                    right:vw(-18);
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
        .contents_list {
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin:0 auto;
            li {
                overflow: hidden;
                width: 48%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                background: #eee;
                .t1 {
                    background: #234a9b;
                    color:#fff;
                    font-size: vw(22);
                    letter-spacing: vw(-1);
                    font-weight: 700;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: vw(50);
                }
                .t2 {
                    padding:vw(20) 0;
                    font-size: vw(22);
                    color:#333;
                    letter-spacing: vw(-1.65);
                    line-height: 1.36;
                    text-align: center;
                    span {
                        font-size: vw(20);
                    }
                    b {
                        font-weight: 700;
                    }
                }
            }
        }
        .input_form {
            li {
                padding:vw(17.5) vw(30) vw(20);
                border-bottom: 1px solid #999;
            }

            label {
                display: block;
                font-size: vw(22);
                font-weight: 700;
                color:#999;
                letter-spacing: vw(-1);
                margin-bottom: vw(10);
            }
            textarea {
                width: 100%;
                height: vw(210);
                overflow-y: auto;
                resize: none;
                font-size: vw(22);
                padding:vw(20);
            }
        }
        .agree_box {
            width: 90%;
            margin:vw(33) auto;
            border: 1px solid #666;
            div {
                &:first-child {
                    background: #f6f6f6;
                    border-bottom: 1px solid #666;
                    padding:vw(17.5) vw(22);
                    display: flex;
                    align-items: center;
                    font-size: vw(22);
                    color:#333;
                    letter-spacing: vw(-1);
                    font-weight: 500;
                }
                &.txt_box {
                    padding:vw(22) vw(14);
                    font-size: vw(21);
                    letter-spacing: vw(-1);
                }
            }
        }
        .__ok {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;            
            height: vw(65.5);
            margin:vw(30) auto;
            background: #ee5400;
            border-radius: vw(4);
            color:#fff;
            font-weight: 700;
            font-size: vw(30);

        }
    }
    .list_type01 {
        margin-bottom: vw(40);
        padding:vw(30);
        background-color: #eee;
        li {
            font-size: vw(22);
            color:#333;
            letter-spacing: vw(-1);
            padding-left: vw(12);
            position: relative;
            margin-bottom: vw(10);
            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                content: '';
                display: block;
                width: vw(5);
                height: vw(5);
                background-color:#333;
                border-radius: 100%;
                position: absolute;left: 0;
                top:vw(10);
            }
            .point {
                color:#ee4500;
                font-weight: 700;
            }
            em {
                font-weight: 500;
            }
            b {
                font-weight: 700;
            }
            strong {
                font-weight: 700;
                padding-right: vw(15);
                background: url(../img/ico_arrow_right.svg) no-repeat 100% 50% / vw(7.5);
            }
            p {
                font-size: vw(18);
                line-height: 1.5;
            }
        }
    }
}

@include desktop {
    .course {
        &.__commission {
            overflow: visible;
            padding:0;
            h2 {
                font-size: 25px;
                letter-spacing: -1.25px;
                + .txt {
                    font-size: 22px;
                    letter-spacing: -1px;
                    margin-top: 20px;
                }
            } 
            
            .img_cont {
                width: 1125px;
                margin: 30px auto 0;
                padding:30px 0;
                .box {
                    width: 50%;
                    text-align: center;
                    p {
                        font-size: 20px;
                        letter-spacing: -0.25px;
                        margin-top: 25px;
                    }
                    img {
                        width: 150px;
                    }
                }
            }
            
            .inner {
    
                .tit {
                    width: 310px;
                    margin:60px auto 40px;
                    img {
                        width: 100%;
                    }
                }
    
                .contents_list {
                    display: flex;
                    justify-content: space-between;
                    width: 1125px;
                    margin:0 auto;
                    li {
                        overflow: hidden;
                        width: 540px;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        background: #eee;
                        .t1 {
                            font-size: 22px;
                            letter-spacing: -1px;
                            height: 50px;
                        }
                        .t2 {
                            padding:20px 22px;
                            font-size: 22px;
                            letter-spacing: -1.65px;
                            line-height: 1.36;
                        }
                    }
                }
    
                .info_list {
                    margin:70px auto 0;
                    display: flex;
                    width: 1125px;
                    justify-content: space-between;
                    li {
                        width: 540px;
                    }
                    .t1 {
                        margin-top: 0;
                        font-size: 28px;
                        letter-spacing: -2px;
                    }
                    .t2 {
                        margin-top: 17.5px;
                        img {
                            width: 100%;
                        }
                    }
                }
                .__download {
                    display: flex;
                    width: 540px;
                    height:60.5px;
                    margin: 70px auto;
                    span {
                        padding-right: 30px;
                        font-size: 25px;
                        letter-spacing: -1.25px;
                        background: url(../img/ico_doc.svg) no-repeat 100% 50% / 23px;
                    }
                }
            }
        }

        &.__commission_list {
            h2 {
                font-size: 25px;
                letter-spacing: -1.25px;
                margin-left: 0;
                margin-bottom: 20px;
            }
            .board_list {
                border-top: 1px solid #bcbcbc;
                margin-bottom: 50px;
            }
        }
        &.__commission_write {
            h2 {
                font-size: 25px;
                letter-spacing: -1.25px;
                margin-left: 0;
                margin-bottom: 20px;
                &.tit {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    background: #eee;
                    border-top: 1px solid #aaa;
                    border-bottom: 1px solid #aaa;
                }
            }
            .step_list {
                padding-left: 0;
                margin-bottom: 40px;
                li {
                    width: calc((100% - 125px) / 6);
                    height: 80px;
                    font-size: 20px;
                    letter-spacing: -1.5px;
                    margin-right: 25px;
                    margin-bottom: 0;
                    &::after {
                        content: '';
                        display: block;
                        width: 11px;
                        height: 19px;
                        right:-18px;
                    }
                    &:last-child {
                        margin-right: 0;
                        &::after {
                            display: none;
                        }
                    }
                }
            }
            .contents_list {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin:0 auto;
                li {
                    overflow: hidden;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    background: #eee;
                    .t1 {
                        font-size: 22px;
                        letter-spacing: -1px;
                        height: 50px;
                    }
                    .t2 {
                        padding:20px 22px;
                        font-size: 22px;
                        letter-spacing: -1.65px;
                        line-height: 1.36;
                        span {
                            font-size: 20px;
                        }
                    }
                }
            }
            .input_form {
                li {
                    padding:17px 30px 20px;
                }
    
                label {
                    font-size: 22px;
                    letter-spacing: -1px;
                    margin-bottom: 10px;
                }
                textarea {
                    width: 100%;
                    height: 420px;
                    font-size: 22px;
                    padding:20px;
                }
            }
            .agree_box {
                width: 100%;
                margin:33px auto;
                div {
                    &:first-child {
                        padding:17px 22px;
                        font-size: 22px;
                        letter-spacing: -1px;
                    }
                    &.txt_box {
                        padding:22px;
                        font-size: 21px;
                        letter-spacing: -1px;
                    }
                }
            }
            .__ok {
                width: 540px;
                height:60.5px;
                margin: 70px auto;
                border-radius: 4px;
                font-size: 30px;
    
            }
        }
        .list_type01 {
            padding:px(10) px(15);
            margin-bottom:px(20);
            li {
                font-size: px(11);
                letter-spacing: px(-0.5);
                padding-left: px(6);
                margin-bottom: px(5);
                &::before {
                    width: px(2.5);
                    height: px(2.5);
                    top:px(5);
                }                                
                strong {
                    padding-right: px(7.5);
                    background: url(../img/ico_arrow_right.svg) no-repeat 100% 50% / px(3.75);
                }
                p {
                    font-size: px(9);
                }
            }
        }
    }
}