.course {
    .__wrap_top {
        margin-top: vw(45);
    }
}

@include desktop {
    .course {
        width: 1200px;
        margin:0 auto;
        .__wrap_top {
            margin-top: px(20);
        }   
    }
}