.course {
    .view_wrap {
        display: flex;
        flex-wrap: wrap;
        margin-top: vw(28);
        .tit_box {
            width: 100%;
            padding:0 vw(15);
            margin-bottom: vw(15);
            display: flex;
            align-items: center;
            .tit {
                font-size: vw(30);
                letter-spacing: vw(-1.5);
                color:#333;
                font-weight: 700;
            }
            span {
                display:inline-flex;
                align-items: center;
                justify-content: center;
                line-height: 1;
                height: vw(30);
                margin-left: vw(12.5);
                background-color: #ea5504;
                color:#fff;
                font-size: vw(20);
                letter-spacing: vw(-1);
                font-weight: 700;
                padding:vw(0.7) vw(15);
                border-radius: vw(3);
            }
        }
        .movie_wrap {
            padding:0 vw(15);
            .thumb_box {
                display: none;
                img {
                    width: 100%;
                }
            }
            .movie_box {
                position: relative;
                img {
                    width: 100%;
                }
                button {
                    width: vw(104);
                    height: vw(104);
                    border: 0 solid #000;
                    position: absolute;
                    left: 50%;
                    top:50%;
                    transform: translate(-50%,-50%);
                    background-color: transparent;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .info_wrap {
            width: 100%;
            ul {
                li {
                    display: flex;
                    padding:vw(15);
                    border-bottom: 0.5px solid #999;
                    strong {
                        display: flex;
                        justify-content: space-between;
                        width: vw(60);
                        font-size: vw(22);
                        letter-spacing: vw(-1);
                        color:#aaa;
                        position: relative;
                        font-weight: 700;
                        line-height: 1;
                        transform: translateY(6.5px);
                        button {
                            position: absolute;
                            left:50%;
                            top:vw(40);
                            transform: translateX(-50%);
                        }
                    }    
                    input {
                        border: vw(3.2) solid #666;
                        height: vw(40);
                        line-height: vw(40);
                    }                
                    &.line1 {
                        > div {
                            padding:vw(5) 0 vw(5) vw(20);
                        }
                    }
                    > div {
                        width: calc(100% - 9.417vw);                        
                        padding-left: vw(20);
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        font-size: vw(22);
                        letter-spacing: vw(-1.1);
                        div {
                            display: flex;
                            align-items: center;
                            width: 100%;
                            margin-top: vw(7);
                            .btn_link {
                                margin-left: vw(10);
                                margin-right: 0;
                            }
                        }
                        b {
                            color:#ee4500;
                            font-weight: 700;
                            margin-left: vw(10);
                        }
                    }
                    .tool_tip {
                        width: vw(25.7);
                        height: vw(25.7);
                        border: 0 solid #000;
                        background-color:transparent;
                        opacity: 0.3;
                        cursor: pointer;
                        img {
                            width: 100%;
                        }
                    }
                    .tool_layer {
                        border: vw(0.5) solid #ee4500;
                        padding:vw(35) vw(30);
                        letter-spacing: vw(-1.1);
                        font-size: vw(22);
                        color:#333;
                        
                    }
                    .btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: vw(3.2) solid #ccc;
                        height: vw(45);
                        padding:vw(1.5) vw(12) vw(2.5);
                        margin-right: vw(10);
                        box-sizing: border-box;
                        &.on {
                            border-color: #ee4500;
                            color:#ee4500;
                        }
                    }
                    .sale {
                        .btn,
                        .link {
                            margin-bottom: vw(10);
                        }
                    }
                    .link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 0 solid #000;
                        color:#999;
                        height: vw(45);
                        padding:vw(1.5) vw(12) vw(2.5);
                        background-color: #eee;
                        margin-right: vw(10);
                    }
                    .btn_link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 0 solid #000;
                        color:#fff;
                        height: vw(40);
                        padding:vw(1.5) vw(15) vw(2.5);
                        background-color: #666;
                        border-radius: vw(3);
                        font-weight: 700;
                        margin-right: vw(10);
                        font-size: vw(22);
                    }
                }
            }
            .btn_box {
                margin-top: vw(27);
                padding:0 vw(15);
                display: flex;
                justify-content: space-between;
                button {
                    border: 0 solid #000;
                    height: vw(60.5);
                    font-size: vw(25);
                    color:#fff;
                    font-weight: 700;
                    letter-spacing: vw(-1.25);
                    border-radius: vw(3);
                    &.btn_list {
                        width: 34%;
                        background-color: #666;
                    }
                    &.btn_apply {
                        width: 64%;
                        background-color: #ee5400;
                    }
                }
            }
        }
        .tab_wrap {
            margin-top: vw(60);
            padding:0 vw(15);
            display: flex;
            justify-content: space-between;
            width: 100%;
            button {
                width: calc(100% / 4);
                border: vw(0.5) solid #999;
                border-right: 0 solid #000;
                background-color: #f3f3f3;
                height: vw(53);
                color:#666;
                font-size: vw(22);
                letter-spacing: vw(-1.1);
                font-weight: 500;
                &:last-child {
                    border-right: vw(0.5) solid #999;
                }
                &.on {
                    color:#fff;
                    font-weight: 700;
                    background-color: #999;
                }
            }
        }
        .tab_container {
            width: 100%;
            padding:0 vw(15);
            .introduction {
                padding: vw(45.5) 0;
                .tit {
                    font-size: vw(22);
                    font-weight: 500;
                    line-height: 1.36;
                    letter-spacing: vw(-1.1);
                    color: #333;
                    margin-bottom: vw(51.5);
                    word-break: keep-all;
                }
                .stit {
                    font-size: vw(22);
                    font-weight: 700;
                    color:#333;
                    letter-spacing: vw(-1.1);
                    & + div {
                        margin: vw(14) 0;
                        span {
                            font-size: vw(22);
                            color:#333;
                            letter-spacing: vw(-1.1);
                            display: inline-flex;
                            align-items: center;
                            height: vw(39);
                            padding:0 vw(10);
                            border-radius: vw(19.5);
                            background-color: #f3f3f3;
                        }
                    }
                }
            }
            
            .list {
                margin: vw(14) 0 vw(26);
                border-radius: vw(10);
                background-color: #f3f3f3;
                padding:vw(20);
                font-size: vw(22);
                line-height: 1.27;
                letter-spacing: vw(-1.1);
            }
            .review {
                padding: vw(8) 0 vw(45.5);
                li {
                    border-bottom: vw(0.5) solid #d6d6d6;
                    padding:vw(20) 0 vw(33);
                }
                .profile_box {
                    display: flex;
                    align-items: center;
                    > img {
                        width: vw(35);
                        margin-right: vw(9);
                    }
                    .user {
                        font-size: vw(22);
                        font-weight: 500;
                        color:#666;
                        letter-spacing: vw(-1.1);
                    }
                }
                .txt {
                    margin-top: vw(16.5);
                    p {
                        overflow : hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 5;
                        -webkit-box-orient: vertical;
                        font-size: vw(22);
                        line-height: 1.36;
                        letter-spacing: vw(-1.1);
                        color:#333;
                        max-height: vw(150);
                        &::after {
                            content: '';
                            display: block;
                            clear: both;
                        }
                        a {
                            color:#999;
                            font-weight: 700;
                            margin-left: vw(10);
                        }
                    }
                    img {
                        float: right;
                        width: vw(220);
                        margin-left: vw(20);
                    }
                }
            }
            .study {
                padding: vw(25) 0 vw(45.5);
                .tit {
                    display: flex;
                    align-items: center;
                    height: vw(48);
                    padding:0 vw(20);
                    margin-bottom: vw(10);
                    border-radius: vw(10);
                    background-color: #eee;
                    font-size: vw(22);
                    color:#333;
                    letter-spacing: vw(-1.1);
                    font-weight: 500;
                    background: #eee url(../img/ico_minus.svg) no-repeat right vw(13) top 50% / vw(28);
                    &.on {
                        background: #eee url(../img/ico_plus.svg) no-repeat right vw(13) top 50% / vw(28);
                    }
                }
                ol {
                    display: none;
                    counter-reset: list-counter;
                    margin:vw(10) 0;
                    &.on {
                        display: block;
                    }
                    li {
                        border-radius: vw(10);
                        border: solid vw(0.5) #ccc;
                        background-color: #fff;
                        display: flex;
                        height: vw(48);
                        align-items: center;
                        padding:0 vw(10);
                        margin-bottom: vw(6.5);
                        font-size: vw(22);
                        &:last-child {
                            margin-bottom: 0;
                        }
                        &::before {
                            display: flex;
                            width: vw(34);
                            height: vw(31);
                            justify-content: center;
                            align-items: center;
                            counter-increment: list-counter; 
                            content: "0" counter(list-counter);
                            color: #fff;
                            font-weight: #700;
                            font-size: vw(22);
                            letter-spacing: vw(-1.1);
                            border-radius: vw(5);
                            background-color: #ababab;
                            margin-right: vw(13);
                        }
                    }
                }
            }
            .instructor {
                padding:vw(26) 0 vw(45.5);
                .profile_box {
                    display: flex;
                    align-items: center;
                    > img {
                        width: vw(35);
                        margin-right: vw(9);
                    }
                    .user {
                        font-size: vw(22);
                        font-weight: 500;
                        color:#666;
                        letter-spacing: vw(-1.1);
                    }
                }
            }
        }
    }

    .view_ly {
        padding-bottom:vw(45.5);
        .t1 {
            font-size: vw(22);
            line-height: 1.59;
            color:#666;
            letter-spacing: vw(-2.2);
            padding:0 vw(15);
            b {
                font-weight: 700;
            }
        }
        .input_box {
            padding:0 vw(15);
            margin:vw(32.5) 0 vw(34.5);
            li {
                display: flex;
                color:#666;
                align-items: center;
                letter-spacing: vw(-2.2);
                margin-bottom: vw(10.5);
                b {
                    width: vw(105);
                    font-weight: 500;
                    font-size: vw(22);
                }
                input {
                    display: flex;
                    align-items: center;
                    height: vw(40);
                    width: vw(265);
                    padding:vw(5);
                    border: vw(1) solid #ddd;
                    & + span {
                        margin-left: vw(10);
                    }
                }
            }
            &.w100 input {
                width: calc(100% - 17.5vw);
            }
        }
        .btn_wrap {
            padding:0 vw(15);
            .btn {
                width: 100%;
                height: vw(56.5);
                background-color: #ee5400;
                color:#fff;
                border-radius: vw(3);
                font-size: vw(25);
                letter-spacing: vw(-1.25);
                font-weight: 700;
            }
        }
    }
}

@include desktop {
    .course {
        width: 1200px;
        margin:0 auto;

        .view_wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .tit_box {
                width: 100%;
                padding:0;
                margin-bottom: px(7);
                display: flex;
                align-items: center;
                .tit {
                    font-size: px(14);
                    letter-spacing: px(-0.7);
                    color:#333;
                    font-weight: 700;
                }
                span {
                    display:inline-flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 1;
                    height: px(14);
                    margin-left: px(6);
                    background-color: #ea5504;
                    color:#fff;
                    font-size: px(10);
                    letter-spacing: px(-0.49);
                    font-weight: 700;
                    padding:px(2) px(5.5);
                    border-radius: px(1.5);
                }
            }
            .movie_wrap {
                width: px(250);
                padding:0;
                .thumb_box {
                    display: block;
                    margin-bottom: px(6);
                    img {
                        width: 100%;
                    }
                }
                .movie_box {
                    position: relative;
                    img {
                        width: 100%;
                    }
                    button {
                        width: px(46);
                        height: px(46);
                        border: 0 solid #000;
                        position: absolute;
                        left: 50%;
                        top:50%;
                        transform: translate(-50%,-50%);
                        background-color: transparent;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            .info_wrap {
                width: px(340);
                ul {
                    li {
                        display: flex;
                        padding:px(7.5);
                        border-bottom: 0.25px solid #999;
                        strong {
                            display: flex;
                            justify-content: space-between;
                            width: px(30);
                            font-size: px(11);
                            letter-spacing: px(-0.5);
                            color:#aaa;
                            position: relative;
                            font-weight: 700;
                            button {
                                position: absolute;
                                left:50%;
                                top:px(20);
                                transform: translateX(-50%);
                            }
                        }
                        > div {
                            width: calc(100% - 15px);
                            padding-left: px(10);
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                            font-size: px(11);
                            letter-spacing: px(-0.55);
                            div {
                                display: flex;
                                align-items: center;
                                width: 100%;
                                margin-top: px(3.5);
                                .btn_link {
                                    margin-left: px(5);
                                    margin-right: 0;
                                }
                            }
                            b {
                                color:#ee4500;
                                font-weight: 700;
                                margin-left: px(5);
                            }
                        }
                        .tool_tip {
                            width: px(12.85);
                            height: px(12.85);
                            border: 0 solid #000;
                            background-color:transparent;
                            opacity: 0.3;
                            cursor: pointer;
                            img {
                                width: 100%;
                            }
                        }
                        .btn {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: px(1.25) solid #ccc;
                            height: px(17.5);
                            padding:0 px(6);
                            margin-right: px(5);
                            &.on {
                                border-color: #ee4500;
                                color:#ee4500;
                            }
                        }
                        .sale {
                            .btn,
                            .link {
                                margin-bottom: px(3.5);
                            }
                        }
                        .link {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 0 solid #000;
                            color:#333;
                            height: px(17.5);
                            padding:0 px(6);
                            background-color: #ccc;
                            margin-right: px(5);
                        }
                        .btn_link {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 0 solid #000;
                            color:#fff;
                            height: px(15);
                            padding:0 px(7.5);
                            background-color: #666;
                            border-radius: px(1.5);
                            font-weight: 700;
                            margin-right: px(5);
                        }
                    }
                }
                .btn_box {
                    margin-top: px(13.5);
                    padding:0;
                    display: flex;
                    justify-content: space-between;
                    button {
                        border: 0 solid #000;
                        height: px(30.25);
                        font-size: px(12.5);
                        color:#fff;
                        font-weight: 700;
                        letter-spacing: px(-0.625);
                        border-radius: px(1.5);
                        &.btn_list {
                            width: 34.5%;
                            background-color: #666;
                        }
                        &.btn_apply {
                            width: 64.5%;
                            background-color: #ee5400;
                        }
                    }
                }
            }
            .tab_wrap {
                margin-top: px(30);
                padding:0 px(7.5);
                display: flex;
                justify-content: space-between;
                width: 100%;
                button {
                    width: calc(100% / 4);
                    border: px(0.5) solid #999;
                    border-right: 0 solid #000;
                    background-color: #f3f3f3;
                    height: px(26.5);
                    color:#666;
                    font-size: px(11);
                    letter-spacing: px(-0.55);
                    font-weight: 500;
                    &:last-child {
                        border-right: px(0.5) solid #999;
                    }
                    &.on {
                        color:#fff;
                        font-weight: 700;
                        background-color: #999;
                    }
                }
            }
            .tab_container {
                width: 100%;
                padding:0 px(7.5);
                .introduction {
                    padding: px(20) 0;
                    .tit {
                        font-size: px(11);
                        font-weight: 500;
                        line-height: 1.36;
                        letter-spacing: px(-0.5);
                        color: #333;
                        margin-bottom: px(25.75);
                        word-break: keep-all;
                    }
                    .stit {
                        font-size: px(11);
                        font-weight: 700;
                        color:#333;
                        letter-spacing: px(-0.55);
                        & + div {
                            margin: px(7) 0;
                            span {
                                font-size: px(11);
                                color:#333;
                                letter-spacing: px(-0.55);
                                display: inline-flex;
                                align-items: center;
                                height: px(19.5);
                                padding:0 px(5);
                                border-radius: px(19.75);
                                background-color: #f3f3f3;
                            }
                        }
                    }
                }
                
                .list {
                    margin: px(7) 0 px(13);
                    border-radius: px(5);
                    background-color: #f3f3f3;
                    padding:px(10);
                    font-size: px(11);
                    line-height: 1.27;
                    letter-spacing: px(-0.55);
                }
                .review {
                    padding: px(4) 0 px(22.75);
                    li {
                        border-bottom: px(0.5) solid #d6d6d6;
                        padding:px(10) 0 px(16.5);
                    }
                    .profile_box {
                        display: flex;
                        align-items: center;
                        > img {
                            width: px(17.5);
                            margin-right: px(4.5);
                        }
                        .user {
                            font-size: px(11);
                            font-weight: 500;
                            color:#666;
                            letter-spacing: px(-0.55);
                        }
                    }
                    .txt {
                        margin-top: px(8.25);
                        p {
                            overflow : hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 5;
                            -webkit-box-orient: vertical;
                            font-size: px(11);
                            line-height: 1.36;
                            letter-spacing: px(-0.55);
                            color:#333;
                            max-height: px(75);
                            &::after {
                                content: '';
                                display: block;
                                clear: both;
                            }
                            a {
                                color:#999;
                                font-weight: 700;
                                margin-left: px(5);
                            }
                        }
                        img {
                            float: right;
                            width: px(220);
                            margin-left: px(10);
                        }
                    }
                }
                .study {
                    padding: px(12.5) 0 px(22.75);
                    .tit {
                        display: flex;
                        align-items: center;
                        height: px(24);
                        padding:0 px(10);
                        margin-bottom: px(5);
                        border-radius: px(5);
                        background-color: #eee;
                        font-size: px(11);
                        color:#333;
                        letter-spacing: px(-0.55);
                        font-weight: 500;
                        background: #eee url(../img/ico_minus.svg) no-repeat right px(6.5) top 50% / px(14);
                        &.on {
                            background: #eee url(../img/ico_plus.svg) no-repeat right px(6.5) top 50% / px(14);
                        }
                    }
                    ol {
                        display: none;
                        counter-reset: list-counter;
                        margin:px(5) 0;
                        &.on {
                            display: block;
                        }
                        li {
                            border-radius: px(5);
                            border: solid px(0.5) #ccc;
                            background-color: #fff;
                            display: flex;
                            height: px(24);
                            align-items: center;
                            padding:0 px(5);
                            margin-bottom: px(3.25);
                            font-size: px(11);
                            &:last-child {
                                margin-bottom: 0;
                            }
                            &::before {
                                display: flex;
                                width: px(17);
                                height: px(15.5);
                                justify-content: center;
                                align-items: center;
                                counter-increment: list-counter; 
                                content: "0" counter(list-counter);
                                color: #fff;
                                font-weight: #700;
                                font-size: px(11);
                                letter-spacing: px(-0.55);
                                border-radius: px(2.5);
                                background-color: #ababab;
                                margin-right: px(6.5);
                            }
                        }
                    }
                }
                .instructor {
                    padding:px(13) 0 px(22.75);
                    .profile_box {
                        display: flex;
                        align-items: center;
                        > img {
                            width: px(17.5);
                            margin-right: px(4.5);
                        }
                        .user {
                            font-size: px(11);
                            font-weight: 500;
                            color:#666;
                            letter-spacing: px(-0.55);
                        }
                    }
                }
            }
        }
    
        .view_ly {
            padding-bottom:px(22.75);
            .t1 {
                font-size: px(11);
                line-height: 1.59;
                color:#666;
                letter-spacing: px(-1.1);
                padding:0 px(7.5);
                b {
                    font-weight: 700;
                }
            }
            .input_box {
                padding:0 px(7.5);
                margin:px(16.25) 0 px(17.25);
                li {
                    display: flex;
                    color:#666;
                    align-items: center;
                    letter-spacing: px(-1.1);
                    margin-bottom: px(5.25);
                    b {
                        width: px(52.5);
                        font-weight: 500;
                        font-size: px(11);
                    }
                    input {
                        display: flex;
                        align-items: center;
                        height: px(20);
                        width: px(132.5);
                        padding:px(2.5);
                        border: px(0.5) solid #ddd;
                        & + span {
                            margin-left: px(5);
                        }
                    }
                }
                &.w100 input {
                    width: calc(100% - 105px);
                }
            }
            .btn_wrap {
                padding:0 px(7.5);
                .btn {
                    width: 100%;
                    height: px(28.25);
                    background-color: #ee5400;
                    color:#fff;
                    border-radius: px(1.5);
                    font-size: px(12.5);
                    letter-spacing: px(-0.625);
                    font-weight: 700;
                }
            }
        }
    }
}