<!-- footer -->
<footer class="footer">
    <section class="inner">
    <ul class="foot_list">
        <li><a href="#a">회사소개</a></li>
        <li><a href="#a">이용약관</a></li>
        <li><a href="#a">개인정보취급방침</a></li>
    </ul>
    <h1 class="footer_logo"><img src="../assets/img/footer_logo.png" alt="한우리 캠퍼스"></h1>
    <p class="t1">07261 서울시 영등포구 당산로27길 16 한우리빌딩 2층  대표 김희선</p>
    <p class="t1">사업자등록번호 220-82-00385  통신판매업신고 제 2015-서울영등포-0870</p>
    <p class="t1">© (사)한우리독서문화운동본부</p>
    </section>        
</footer>
<!--// footer -->
</div>
<button class="btn __top"></button>

<!-- mobile nav -->
<aside class="side_nav">
<div class="side_header">
    <p class="tit">안녕하세요. 한우리입니다.</p>
    <ul class="quick_menu_list"><!-- login 전 -->
        <li><a href="#a"><span>로그인</span></a></li>
        <li><a href="#a"><span>회원가입</span></a></li>
        <li><a href="#a"><span>로그인정보</span></a></li>
        <li><a href="#a"><span>이용안내</span></a></li>
    </ul>
    <ul class="quick_menu_list __after"><!-- login 후 -->
        <li><a href="#a">로그아웃</a></li>
        <li><a href="#a">정보수정</a></li>
        <li><a href="#a">결제대기</a></li>
        <li><a href="#a">내 강의실</a></li>
    </ul>
    <nav>
        <ul class="snb_list">
            <li>
                <strong>독서지도사</strong>
                <div>
                    <a href="#a">왜 독서지도사인가?</a>
                    <a href="#a">독서지도사는 한우리</a>
                    <a href="#a">활동후기</a>
                </div>
            </li>
            <li>
                <strong>수강신청</strong>
                <div>
                    <a href="#a">독서지도사과정</a>
                    <a href="#a">전체과정</a>
                    <a href="#a">단체위탁과정</a>
                </div>
            </li>
            <li>
                <strong>자격시험</strong>
                <div>
                    <a href="#a">시험안내</a>
                    <a href="#a">시험접수</a>
                    <a href="#a">응시결과</a>
                    <a href="#a">자격증신청</a>
                    <a href="#a">보수교육</a>
                </div>
            </li>
            <li>
                <strong>한우리교사</strong>
                <div>
                    <a href="#a">한우리교사안내</a>
                    <a href="#a">입문과정</a>
                </div>
            </li>
            <li>
                <strong>고객센터</strong>
                <div>
                    <a href="../customer/notice.jsp">공지사항</a>
                    <a href="../customer/support.jsp">학습지원</a>
                    <a href="../customer/guide.jsp">이용안내</a>
                    <a href="../customer/policy.jsp">이용약관</a>
                </div>
            </li>
            <li>
                <strong>한우리캠퍼스</strong>
                <div>
                    <a href="#a">인사말</a>
                    <a href="#a">설립목적</a>
                    <a href="#a">연혁</a>
                    <a href="#a">위치안내</a>
                </div>
            </li>
            <li>
                <strong>내 강의실</strong>
                <div>
                    <a href="#a">수강과정</a>
                    <a href="#a">결제대기</a>
                    <a href="#a">시험이력</a>
                    <a href="#a">자격이력</a>
                    <a href="#a">나의상담</a>
                </div>
            </li>
        </ul>
    </nav>
    <buton id="btnClosed" class="btn __closed"></buton>
</div>
</aside>
<!--// mobile nav -->
<script defer src="../assets/js/jquery-3.4.1.min.js"></script>
<script defer src="../assets/libs/swiper.min.js"></script>
<script defer src="../assets/js/ui.js"></script>
</body>
</html>