.leader {
    &.__confidence {
        .confidence_cont {
                
            img {
                width: 100%;
            }

            &.__05 {
                padding: vw(69.5) vw(30);
                img {
                    display: block;
                    margin:0 auto;
                    width: vw(366);
                }
                .movie_box {
                    position:relative; 
                    padding-top:56.25%; 
                    width:100%;
                    margin-top: vw(40);
                    iframe {
                        position:absolute; top:0; left:0; width:100%; height:100%;
                    }
                }
            }
        }
        .__link {
            display: block;
            text-align: center;
            width: max-content;
            height: vw(56);
            padding:0 vw(20) 0 vw(30);
            margin:vw(41.5) auto 0;        
            border-radius: 5px;
            border: 1px solid #000;
            box-shadow: 0.6px 0.8px 0 1px #000;
            text-decoration: none;
            background: #ffcb40;
            span {
                display: flex;
                width: max-content;
                align-items: center;
                height: 100%;
                letter-spacing: vw(-2);
                padding-right: vw(52);
                font-size: vw(22);
                color:#222;
                font-weight: 700;                    
                background: url(../img/main/ico_click.svg) no-repeat 100% 100% / vw(33);
                box-sizing: border-box;
            }
        }
    }
}
@include desktop {
    .leader {
        &.__confidence {
            .confidence_cont {
                &.__01 {
                    background: url(../img/leader/confidence_01_bg.png) no-repeat 50% / cover;
                    padding:px(8) 0 px(31.5);
                    text-align: center;
                    img {
                        width: px(502.5);
                        margin:0 auto;
                    }
                }
                img {
                    width: 100%;
                }
                &.__02 {
                    padding:px(34.5) 0 px(40.5);
                    text-align: center;
                    img {
                        width: px(375);
                        margin:0 auto;
                    }
                }
                &.__03 {
                    background: #f4f2ee;
                    padding: px(34.5) px(40);
                    img {
                        margin:0 auto;
                        width: px(560);
                    }
                }
                &.__04 {
                    background: #d0ddd6;
                    padding: px(35) px(30.5);
                    img {
                        margin:0 auto;
                        width: px(376.5);
                    }
                }
                &.__05 {
                    width: 1200px;
                    margin:0 auto;
                    padding: px(30) px(32.5);
                    img {
                        display: block;
                        margin:0 auto;
                        width: px(183.5);
                    }
                    .movie_box {
                        margin-top: px(17.5);
                    }
                }
            }
            .__link {
                height: 56px;
                padding:0 20px 0 30px;
                margin:40px auto 0;        
                box-shadow: 1.2px 1.6px 0 2px #000;
                span {
                    letter-spacing: -2px;
                    padding-right: 52px;
                    font-size: 22px;
                    background: url(../img/main/ico_click.svg) no-repeat 100% 100% / 33px;
                }
            }
        }
    }
}