
.teacher {
    padding-bottom: vw(70);
    .teacher_top {
        background-color: #f4e4e3;
        img {
            width: 100%;
        }
        .text_box {
            background-color: #9a4262;
            display: flex;
            justify-content: center;
            align-items: center;
            height: vw(151);
            font-size: vw(45);
            line-height: vw(45);
            color:#fff;
            letter-spacing: vw(-3.38);
            text-align: center;
            b {
                line-height: vw(55);
                font-weight: 700;
            }
            span {
                font-size: vw(35);
                line-height: vw(45);
                letter-spacing: vw(-2.62);
            }
            em {
                font-style:italic;
            }
        }
    }

    .cont {
        .tit {
            font-size: vw(35);
            letter-spacing: vw(-2.6);
            line-height: vw(50);
            text-align: center;
            color:#000;
            font-family: "NanumSquare";
            b {
                font-weight: 800;
                font-size: vw(40);
                position: relative;
                padding:0 vw(5);
                &::after {
                    content: '';
                    display: inline-block;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: vw(16);
                    background-color:#eccf98;
                    z-index: -1;
                }
            }
        }
        .stit {
            font-size: vw(24);
            letter-spacing: vw(-1.8);
            font-family: "NanumSquare";
            line-height: 1.25;
            text-align: center;
            margin-top:vw(25);
        }
        h3.support {
            width: vw(350);
            height: vw(60.5);
            margin:0 auto vw(41);
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color:#fff;
            font-size: vw(30);
            font-weight: 700;
            letter-spacing: vw(-2.25);
            font-family: "NanumSquare";
        }
        .s_txt {
            font-size: vw(33);
            font-family: "NanumSquare";
            letter-spacing: vw(-2.48);
            line-height: 1.36;
            color:#000;            
            text-align: center;
            b {
                font-weight: 700;
            }
        }
        &.__01 {
            padding:vw(70) vw(30);
            img {
                display: block;
                margin-top:vw(47);
                width: 100%;
            };
            ol {
                margin-top: vw(32);
                font-size: vw(19);
                letter-spacing: vw(-1);
                color:#888;
                line-height: 1.42;
            }
        }
        &.__02 {
            padding:vw(70) 0 vw(38);
            text-align: center;
            .tit b::after {
                background-color: #cfec98;
            }
            h3.support {
                margin-top: vw(67);
                background-color: #701eb6;
            }            
        }
        &.__03 {
            padding:vw(60) 0 0;
            text-align: center;
            img {
                width: vw(515);
            }
            h3.support {
                margin: 0 auto vw(37.5);
                background-color: #c880bb;
            }
            .s_txt {
                margin-bottom: vw(37.5);
            }
        }   
        &.__04 {
            padding:vw(60) 0 vw(50.5);
            text-align: center;            
            h3.support {
                margin: 0 auto vw(40);
                background-color: #5739b5;
            }
        }        
    }

    .interview_wrap {
        background-color: #eededb;
        padding:vw(60) vw(30);
        li {
            &:first-child {
                margin-bottom: vw(44);
            }
        }
        img {
            width: 100%;
        }
    }

    .support_cont {
        > img {
            width: 100%;
        }
        &.__01 {
            background-color: #e6e3ee;
            padding:vw(56.5) vw(30) vw(47.5);
            > img {
                width: vw(510.5);
                display: block;
                margin:0 auto;
            }
            ul {
                margin-top: vw(37.8);
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li {
                    width: 48%;
                    margin-top: 4%;
                    overflow: hidden;
                    border-radius: 10px;
                    background-color: #fff;
                    font-size: vw(22);
                    text-align: center;
                    strong {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: vw(50);                        
                        font-weight: 700;
                        color:#fff;
                        letter-spacing: vw(-1);
                        background-color: #64239b;
                    }
                    p {
                        
                        padding:vw(20) 0;
                        letter-spacing: vw(-1.65);
                        line-height: 1.36;
                        color:#333;
                    }
                    &:nth-child(-n + 2) {
                        margin-top: 0;
                    }
                }
            }
            .txt {
                margin-top: vw(25);
                font-size: vw(20);
                letter-spacing: vw(-1);
                color:#000;
                padding-left: vw(20);
                position: relative;
                &::before {
                    content:'※';
                    position: absolute;
                    left: 0;
                    top:0;
                }
            }
        }
        &.__02 {
            padding:  vw(40) 0 vw(29);
            background-color: #eee3ec;
            > img {
                width: vw(520);
                display: block;
                margin:0 auto;
            }
            .support_slide {
                margin-top: vw(22.5);
            }
        }
        &.__03 {
            padding:  vw(54.5) vw(15) vw(40);
            background-color: #e0e2f5;
            img {
                display: block;
                margin:0 auto;
                &.img1 {
                    width: vw(520);
                    margin-bottom: vw(33);
                }
                &.img2 {
                    width: 100%;
                }
            }
        }
    }
    .__link {
        display: block;
        text-align: center;
        width: max-content;
        height: vw(71);
        padding:0 vw(30);
        margin:vw(56) auto 0;        
        border-radius: 5px;
        border: 1px solid #000;
        box-shadow: 1.2px 1.6px 0 2px #000;
        box-sizing: border-box;
        text-decoration: none;
        background-color: #cec4ff;
        
        span {
            display: flex;
            width: vw(320);
            align-items: center;
            height: 100%;
            letter-spacing: vw(-2);
            padding-right: vw(42);
            font-size: vw(32);
            color:#222;
            font-weight: 700;                    
            background: url(../img/main/ico_click.svg) no-repeat 100% 100% / vw(40);
            box-sizing: border-box;
        }
    }
    .swiper-slide {
        width: 85%;
        background: #fff;
        padding:vw(35) vw(30) vw(25);
        text-align: center;
        .t1 {
            font-size: vw(22);
            color:#333;
            margin-bottom: vw(25);
            line-height: 1.36;
            text-align: left;
        }
        .user_box {
            display: flex;
            justify-content: center;
            align-items: center;
            color:#666;
            img {
                width: vw(35);
                margin-right: vw(5);
            }
        }
    }

    .swiper-pagination {
        position: static;
        margin-top: vw(10);
        .swiper-pagination-bullet {
            width: vw(12);
            height: vw(12);
            opacity: 1;
            background-color: #fff;
            &.swiper-pagination-bullet-active {
                background-color: #999;
            }
        }
    }
}
@include desktop {
    .teacher {
        padding-bottom: 70px;

        .teacher_top {
            text-align: center;
            padding-top: 24px;
            background-color: #f4e4e3;
            img {
                display: block;
                width: 594px;
                margin:0 auto;
            }
            .text_box {
                background-color: #9a4262;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 150px;
                font-size: 45px;
                line-height: 45px;
                color:#fff;
                letter-spacing:-3.38px;
                text-align: center;
                b {
                    line-height: 55px;
                    font-weight: 700;
                }
                span {
                    font-size: 35px;
                    line-height: 45px;
                    letter-spacing: -2.62px;
                }
                em {
                    font-style:italic;
                }
            }
        }
    
        .cont {
            .tit {
                font-size: 35px;
                letter-spacing: -2.6px;
                line-height: 50px;
                text-align: center;
                color:#000;
                font-family: "NanumSquare";
                b {
                    font-weight: 800;
                    font-size: 40px;
                    position: relative;
                    padding:0 5px;
                    &::after {
                        content: '';
                        display: inline-block;
                        width: 100%;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        height: 16px;
                        background-color:#eccf98;
                        z-index: -1;
                    }
                }
            }
            .stit {
                font-size: 24px;
                letter-spacing: -1.8px;
                font-family: "NanumSquare";
                line-height: 1.25;
                text-align: center;
                margin-top:25px;
            }
            h3.support {
                width: 350px;
                height: 60px;
                margin:0 auto 41px;
                border-radius: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                color:#fff;
                font-size: 30px;
                font-weight: 700;
                letter-spacing: -2.25px;
                font-family: "NanumSquare";
            }
            .s_txt {
                font-size: 33px;
                font-family: "NanumSquare";
                letter-spacing: -2.48px;
                line-height: 1.36;
                color:#000;            
                text-align: center;
                b {
                    font-weight: 700;
                }
            }
            &.__01 {
                padding:70px 30px;
                img {
                    display: block;
                    margin:47px auto 0;
                    width: 520px;
                };
                ol {
                    width: 520px;
                    margin: 32px auto 0;
                    font-size: 19px;
                    letter-spacing: -1px;
                    color:#888;
                    line-height: 1.42;
                }
            }
            &.__02 {
                padding:80px 0 38px;
                text-align: center;                
                .tit b::after {
                    background-color: #cfec98;
                }
                h3.support {
                    margin-top: 60px;
                    background-color: #701eb6;
                }            
            }
            &.__03 {
                padding:60px 0 0;
                text-align: center;
                img {
                    width: 515px;
                }
                h3.support {
                    margin: 0 auto 41.5px;
                    background-color: #c880bb;
                }
                .s_txt {
                    margin-bottom: 37.5px;
                }
            }   
            &.__04 {
                padding:60px 0 50.5px;
                text-align: center;            
                h3.support {
                    margin: 0 auto 40px;
                    background-color: #5739b5;
                }
            }        
        }
    
        .interview_wrap {

            background-color: #eededb;
            padding:60px 0;
            display: flex;
            justify-content: center;
            li {
                width: 537px;
                &:first-child {
                    margin-bottom: 0;
                    margin-right: 64px;
                }
            }
            img {
                width: 100%;
            }
        }
    
        .support_cont {
            > img {
                width: 100%;
            }
            &.__01 {
                background-color: #e6e3ee;
                padding:56px 0 65px;
                > img {
                    width: 510px;
                    display: block;
                    margin:0 auto;
                }
                ul {
                    margin-top: 38px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    li {
                        width: 260.5px;
                        margin-right: 19.5px;
                        margin-top: 0;
                        overflow: hidden;
                        border-radius: 10px;
                        background-color: #fff;
                        font-size: 22px;
                        text-align: center;
                        strong {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 50px;
                            font-weight: 700;
                            color:#fff;
                            letter-spacing: -1px;
                            background-color: #64239b;
                        }
                        p {
                            
                            padding:20px 0;
                            letter-spacing: -1.65px;
                            line-height: 1.36;
                            color:#333;
                        }
                        &:nth-child(-n + 2) {
                            margin-top: 0;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
                .txt {
                    margin-top: 30px;
                    font-size: 20px;
                    letter-spacing: -1px;
                    color:#000;
                    padding-left: 0;
                    position: relative;
                    text-align: center;
                    &::before {
                        content:'※ ';
                        position: static;
                    }
                }
            }
            &.__02 {
                padding:  40px 0 30px;
                background-color: #eee3ec;
                .inner {
                    width: 1600px;
                    margin:0 auto;
                    overflow: hidden;
                }
                > img {
                    width: 520px;
                    display: block;
                    margin:0 auto;
                }
                .support_slide {
                    margin-top: 22.5px;
                }
            }
            &.__03 {
                padding:  54.5px 0 50px;
                background-color: #e0e2f5;
                img {
                    display: block;
                    margin:0 auto;
                    &.img1 {
                        width: 843px;
                        margin-bottom: 49px;
                    }
                    &.img2 {
                        width: 1115px;
                    }
                }
            }
        }


        .swiper-slide {
            width: 500px;
            padding:35px 30px 25px;
            opacity: .5;
            &.swiper-slide-active {
                opacity: 1;
            }
            .t1 {
                font-size: 22px;
                margin-bottom: 25px;
            }
            .user_box {
                img {
                    width: 35px;
                    margin-right: 5px;
                }
            }
        }
        .swiper-pagination {
            position: static;
            margin-top: 10px;
            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
            }
        }

        .__link {
            display: block;
            text-align: center;
            width: max-content;
            height: 70px;
            padding:0 30px;
            margin:56px auto 0;        
            box-shadow: 1.2px 1.6px 0 2px #000;
            span {
                width: 320px;
                letter-spacing: -2px;
                padding-right: 42px;
                font-size: 32px;
                background: url(../img/main/ico_click.svg) no-repeat 100% 100% / 40px;
            }
        }
    }
}