.h_test {
    margin-bottom: vw(100);
    .__wrap_top {
        margin-top: vw(30);
        padding-bottom: vw(22);
        border-bottom: vw(1) solid #bcbcbc;
    }

    .next_test {
        width: vw(570);
        height: vw(135.5);
        margin:vw(33) auto 0;
        padding:vw(30) 0 vw(30) vw(170.5);        
        letter-spacing: vw(-1);
        background-color: #eee;
        color:#333;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        .t1 {
            font-size: vw(25);
            width: 100%;
            font-weight: 500;
            span {
                text-decoration: underline;
                font-weight: 700;
            }
        }
        .t2 {
            width: 100%;
            font-size: vw(22);
            margin-top: vw(5);
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: vw(46.5);
            top:vw(20);
            width: vw(95);
            height: vw(95);
            border-radius: 100%;
            background: #fff;
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            left: vw(56);
            top:vw(25);
            width: vw(85);
            height: vw(85);
            background: url(../img/ico_next_test.svg) no-repeat 50%  / 99%;
        }
    }

    h2 {
        padding:0 vw(30);
        font-size: vw(25);
        letter-spacing: vw(-1.25);
        color:#333;
        margin-bottom: vw(15);
        font-weight: 700;
        margin-top: vw(60);
        span {
            font-weight:500;
        }
    }
    h3 {
        padding:0 vw(30);
        font-size: vw(22);
        letter-spacing: vw(-1);
        color:#333;
        font-weight: 700;
        margin:vw(20) 0 vw(10);
        padding-left: vw(40);
        position: relative;
        &::before {
            content: '';
            display: block;
            width: vw(5);
            height: vw(5);
            background-color:#333;
            border-radius: 100%;
            position: absolute;left: vw(30);
            top:vw(10);
        }
    }
    .test_img {
        display: block;
        width: vw(540);
        margin:0 auto;
    }
    .txt1 {
        padding:0 vw(30);
        font-size: vw(22);   
        letter-spacing: vw(-1);
        color:#333;
        line-height: 1.45;
        margin-bottom: vw(30);
    }
    .list_type01 {
        margin-bottom: vw(40);
        padding:vw(30);
        background-color: #eee;
        li {
            font-size: vw(22);
            color:#333;
            letter-spacing: vw(-1);
            padding-left: vw(12);
            position: relative;
            margin-bottom: vw(10);
            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                content: '';
                display: block;
                width: vw(5);
                height: vw(5);
                background-color:#333;
                border-radius: 100%;
                position: absolute;left: 0;
                top:vw(10);
            }
            &.point {
                color:#ee4500;
                font-weight: 700;
            }
            em {
                font-weight: 500;
            }
            b {
                font-weight: 700;
            }
            strong {
                font-weight: 700;
                padding-right: vw(15);
                background: url(../img/ico_arrow_right.svg) no-repeat 100% 50% / vw(7.5);
            }
            p {
                font-size: vw(18);
                line-height: 1.5;
            }
        }
    }

    .list_type_book {
        padding:vw(30);
        background-color: #eee;
        li {
            display: flex;
            margin-bottom: vw(20);
            &:last-child {
                margin-bottom: 0;
            }
            img {
                width: vw(150);
            }
            .txt_box {
                margin-left: vw(23.5);
                padding-top: vw(15);
                color:#333;
                .t1 {
                    font-size: vw(23);
                    font-weight: 700;
                    margin-bottom: vw(10);
                }
                .t2 {
                    font-size: vw(22);
                }
            }
        }
    }

    .tbl_type1 {
        table-layout: fixed;
        width: 100%;
        border-top: 1px solid #999;
        th,
        td {
            border-bottom: 1px solid #999;
            border-right: 1px solid #999;
            padding:vw(14) 0 vw(13);
            vertical-align: middle;
            &:last-child {
                border-right: 0 solid #000;
            }
        }
        th {
            background-color: #f9f9f9;
            font-weight: 500;            
        }
        td {
            text-align: center;
        }
        .now {
            background-color: #f9f9f9;
            font-weight: 500;         
        }
        .c1 { width: 20%; }
        .c2 { width: 40%; }
        .c3 { width: 20%; }
        .c4 { width: 20%; }
        .c5 { width: 40%; }
    }
    .desc_list {
        padding:0 vw(30);
        margin-top:vw(20);
    }
    .btn {
        display: flex;
        width: vw(540);
        height: vw(60);
        margin:0 auto;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        font-size: vw(25);
        color:#fff;
        letter-spacing: vw(-1.25);
        font-weight: 700;
        &.btn_down {        
            background:#333;
        }
        &.btn_red {        
            background:#ee4500;
        }
        &.btn_pupple {        
            background:#8b59cf;
        }
        &.__apply {
            margin-top: vw(60);
            background-color: #ee4500;
            span {
                padding-right: vw(27);
                background: url(../img/ico_arrow_white.svg) no-repeat 100% 50% / vw(14);
            }
        }
    }
    
    .apply_refund {
        padding:0 vw(30);
        margin-top: vw(50);
        li {
            width: 100%;
            margin-bottom: vw(10);
            &:last-child {
                margin-bottom: 0;
            }
            .btn {
                width: 100%;
            }
        }
    }

    .agree_wrap {
        margin: vw(30) vw(15);
        border: vw(0.25) solid #666;
        border-bottom: 0 solid #000;
        .tit {
            display: flex;
            align-items: center;
            padding:vw(20);
            font-size: vw(22);
            font-weight: 700;
            letter-spacing: vw(-0.44);
            color:#333;
            border-bottom: vw(0.25) solid #666;
            background-color: #f6f6f6;
            p {
                cursor: pointer;
            }
        }
        
        .info_box {
            display: none;
            border-bottom: vw(0.25) solid #666;
            padding:vw(25) vw(15);
            font-size: vw(20);
            letter-spacing: vw(-0.5);
            &.on {
                display: block;
            }

            .stit {
                font-weight: 700;
                color:#ee5400;
                margin-top: vw(10);
            }
            .s1 {
                b {
                    font-weight: 700;
                }
            }
        }

    }
    .btn_wrap {
        margin-top: vw(30);
        padding:0 vw(15);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .btn {
            width: 49%;
            height: vw(60);
            background-color: #ee5400;
            color:#fff;
            border-radius: vw(3);
            font-size: vw(25);
            letter-spacing: vw(-1.25);
            font-weight: 700;
            margin:0;
            &.cancel {
                background-color: #999;
            }            
        }
        .__btn {
            display: flex;
            width: vw(540);
            height: vw(60);
            margin:vw(40) auto 0;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            font-size: vw(25);
            color:#fff;
            letter-spacing: vw(-1.25);
            font-weight: 700;
            &.__list {
                background-color: #333;
            }
            &.__apply {
                margin-top: vw(20);
                background-color: #ee4500;
                span {
                    padding-right: vw(27);
                    background: url(../img/ico_arrow_white.svg) no-repeat 100% 50% / vw(14);
                }
            }
        }
    }

    .license_sample {
        display: flex;
        justify-content: space-between;
        padding:0 vw(30);
        li {
            width: 49%;
            img {
                width: 100%;
            }
            p {
                margin-top: vw(20);
                font-size: vw(20);
                font-weight: 500;
                text-align: center;
                color:#333;
            }
        }
    }
    .address_input {
        .i1 {
            display: flex;
            margin-bottom: vw(7.5);
            &:last-child {
                margin-bottom: 0;
            }
            &.__100 {
                input {
                    width: 100%;
                }
            }
            input {
                width: vw(167);
            }    
            .btn_link {
                height: vw(45);
                border-radius: vw(3);
                background-color: #666;
                color:#fff;
                font-weight: 700;
                border: 0 solid #000;
                padding:0 vw(15);
                margin-left: vw(10);
            }
        }
    }

    .type_list {
        display: flex;
        padding:0 vw(30);
        align-items: start;
        img {
            width: vw(170);
        }
        ul {
            margin-left: vw(17);
            li {
                font-size: vw(20);
                padding-left: vw(10);
                position: relative;
                margin-bottom: vw(8);
                color:#333;
                letter-spacing: vw(-1);
                &::before {
                    content: '';
                    display: block;
                    width: vw(5);
                    height: vw(5);
                    background-color:#333;
                    border-radius: 100%;
                    position: absolute;left: 0;
                    top:vw(10);
                }
                span {
                    text-decoration: underline;
                }
                b {
                    font-weight: 700;
                }
                a {
                    color:#333;
                    font-weight: 700;
                    padding-right: vw(15);
                    background: url(../img/ico_arrow_right.svg) no-repeat 100% 50% / vw(7.5);
                }
            }
        }
    }

    .apply_certification {
        width: vw(570);
        margin-bottom: 0;
    }

    .board_list {
        li {            
            .txt_box {   
                padding-top: 0; 
                .event_t {
                    margin: vw(5) 0 0;
                }            
                .t1 {
                    font-size: vw(25);
                    font-weight: 700;
                    letter-spacing: vw(-1.45);
                    margin: vw(10) 0 vw(5);
                    line-height: vw(32);
                    overflow: hidden; 
                    text-overflow: ellipsis; 
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /* 라인수 */	
                    -webkit-box-orient: vertical; 
                    word-wrap:break-word;
                    word-break: keep-all;
                }
                .t2 {
                    font-size: vw(22);
                    letter-spacing: vw(-1.1);
                    line-height: vw(28);
                    word-break: keep-all;
                }
            }            
        }
    }

    .movie_wrap {
        .thumb_box {
            display: block;
        }
        .movie_box {
            display: none;
        }
    }
}
@include desktop {
    .h_test {
        width: 1200px;
        margin:0 auto 50px;
        .__wrap_top {
            margin-top: px(30);
            padding-bottom: px(7.5);
            border-bottom: px(0.5) solid #bcbcbc;
            display: flex;
            justify-content: space-between;
        }
        .search_box {
            order: 2;
            margin:0;
            height: px(19);
            font-size: px(9);
            border-width: px(1.5);
        }

        .next_test {
            width: 100%;
            height: px(67.75);
            margin:px(16.5) auto 0;
            padding:px(15) 0 px(15) px(85.25);        
            letter-spacing: px(-0.5);
            background-color: #eee;
            color:#333;
            position: relative;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .t1 {
                font-size: px(12.5);
                width: 100%;
                font-weight: 500;
                span {
                    text-decoration: underline;
                    font-weight: 700;
                }
            }
            .t2 {
                font-size: px(11);
                width: 100%;
                margin-top: px(2.5);
            }
            &::before {
                content: '';
                display: block;
                position: absolute;
                left: px(23.25);
                top:px(10);
                width: px(47.5);
                height: px(47.5);
                border-radius: 100%;
                background: #fff;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                left: px(26);
                top:px(15);
                width: px(45);
                height: px(45);
                background: url(../img/ico_next_test.svg) no-repeat 50%  / 99%;
            }
        }

        h2 {
            padding:0;
            font-size: px(12.5);
            letter-spacing: px(-0.625);
            margin-bottom: px(7.5);
            margin-top: px(30);
        }
        h3 {
            padding:0;
            font-size: px(11);
            letter-spacing: px(-0.5);
            margin:px(10) 0 px(5);
            padding-left: px(5);
            &::before {
                width: px(2.5);
                height: px(2.5);
                position: absolute;
                left: 0;
                top:px(5);
            }
        }
        .test_list {
            display: flex;
            li {
                width: 49%;
            }
        }
        .test_img {
            width: px(270);
            margin:0;
        }
        .txt1 {
            padding:0;
            font-size: px(11);   
            letter-spacing: px(-0.5);
            line-height: 1.45;
            margin-bottom: px(15);
        }
        .list_type01 {
            padding:px(10) px(15);
            margin-bottom:px(20);
            li {
                font-size: px(11);
                letter-spacing: px(-0.5);
                padding-left: px(6);
                margin-bottom: px(5);
                &::before {
                    width: px(2.5);
                    height: px(2.5);
                    top:px(7.5);
                }                                
                strong {
                    padding-right: px(7.5);
                    background: url(../img/ico_arrow_right.svg) no-repeat 100% 50% / px(3.75);
                }
                p {
                    font-size: px(9);
                }
            }
        }
    
        .list_type_book {
            padding:px(15);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li {
                width: 49%;
                margin-top: px(20);
                margin-bottom: 0;
                &:nth-child(-n + 2) {
                    margin-top: 0;
                }
                img {
                    width: px(75);
                }
                .txt_box {
                    margin-left: px(11.75);
                    padding-top: px(7.5);
                    .t1 {
                        font-size: px(11.5);
                        margin-bottom: px(5);
                    }
                    .t2 {
                        font-size: px(11);
                    }
                }
            }
        }
    
        .tbl_type1 {
            th,
            td {
                padding:px(7) 0 px(6.5);
            }
            .c1 { width: 20%; }
            .c2 { width: 40%; }
            .c3 { width: 20%; }
            .c4 { width: 20%; }
            .c5 { width: 40%; }
        }
        .desc_list {
            padding:0;
            margin-top:px(10);
        }
        .btn {
            width: px(270);
            height: px(31.5);
            font-size: px(12.5);
            letter-spacing: px(-0.625);
            &.btn_down {        
                background:#333;
                margin:0;
            }
            &.btn_red {        
                background:#ee4500;
            }
            &.btn_pupple {        
                background:#8b59cf;
            }
            &.__apply {
                margin-top: px(30);
                span {
                    padding-right: px(13.5);
                    background: url(../img/ico_arrow_white.svg) no-repeat 100% 50% / px(7);
                }
            }
        }
        
        .apply_refund {
            padding:0;
            margin-top: 0;
            display: flex;
            li {
                width: calc(100% / 3);
                margin: 0;                
                .btn {
                    width: 100%;
                    border-radius: 0;                                      
                }
                a {
                    width: 100%;
                    border: px(0.5) solid #999;
                    border-right: 0 solid #000;
                    background-color: #f3f3f3 !important;
                    height: px(26.5);
                    color:#666;
                    font-size: px(11);
                    letter-spacing: px(-0.55);
                    font-weight: 500;
                    &:last-child {
                        border-right: px(0.5) solid #999 !important;
                    }
                    &.on {
                        color:#fff;
                        font-weight: 700;
                        background-color: #999 !important;
                    }
                }
            }
        }

        .agree_wrap {
            margin: px(15) 0;
            border: px(0.5) solid #666;
            border-bottom: 0 solid #000;
            .tit {
                display: flex;
                align-items: center;
                padding:px(10);
                font-size: px(11);
                font-weight: 700;
                letter-spacing: px(-0.22);
                color:#333;
                border-bottom: px(0.5) solid #666;
                background-color: #f6f6f6;
                p {
                    cursor: pointer;
                }
            }
            
            .info_box {
                display: none;
                border-bottom: px(0.5) solid #666;
                padding:px(12.5);
                padding-right: 0;
                font-size: px(10);
                letter-spacing: px(-0.25);
                &.on {
                    display: block;
                }

                .stit {
                    font-weight: 700;
                    color:#ee5400;
                    margin-top: px(5);
                }
                .s1 {
                    b {
                        font-weight: 700;
                    }
                }
            }

        }
        .btn_wrap {
            margin-top: px(15);
            padding:0;
            justify-content: center;
            .btn {
                width: px(130);
                height: px(30.25);
                margin:0 px(5);
                background-color: #ee5400;
                color:#fff;
                border-radius: px(1.5);
                font-size: px(12.5);
                letter-spacing: px(-0.625);
                font-weight: 700;
            }
            .__btn {
                width: px(130);
                height: px(30);
                margin:0 px(5);
                font-size: px(12.5);
                letter-spacing: px(-0.625);                
                &.__apply {
                    margin-top: 0;
                    span {
                        padding-right: px(13.5);
                        background: url(../img/ico_arrow_white.svg) no-repeat 100% 50% / px(7);
                    }
                }
            }
        }

        .license_sample {
            padding:0;
            justify-content: flex-start;
            li {
                width: 500px;
                margin:0;
                &:first-child {
                    margin-right: 20px;
                }
                img {
                    width: 100%;
                }
                p {
                    margin-top: px(10);
                    font-size: px(10);
                }
            }
        }

        .address_input {
            .i1 {
                display: flex;
                margin-bottom: px(3.75);
                &:last-child {
                    margin-bottom: 0;
                }
                &.__100 {
                    input {
                        width: 100%;
                    }
                }
                input {
                    width: px(83.5);
                }    
                .btn_link {
                    height: px(20);
                    border-radius: px(1.5);
                    background-color: #666;
                    color:#fff;
                    font-weight: 700;
                    border: 0 solid #000;
                    padding:0 px(7.5);
                    margin-left: px(5);
                }
            }
        }

        .type_list {
            padding:0;
            img {
                width: px(130);
            }
            ul {
                margin-left: px(17);
                li {
                    font-size: px(10);
                    padding-left: px(5);
                    margin-bottom: px(4);
                    letter-spacing: px(-0.5);
                    &::before {
                        width: px(2.5);
                        height: px(2.5);
                        top:px(5);
                    }
                    a {
                        padding-right: px(7.5);
                        background: url(../img/ico_arrow_right.svg) no-repeat 100% 50% / px(3.75);
                    }
                }
            }
        }

        .apply_certification {
            width: 100%;
        }
        .board_list {
            li {            
                .txt_box {   
                    padding-top: 0; 
                    .event_t {
                        margin: px(2.5) 0 0;
                    }            
                    .t1 {
                        font-size: px(12.5);
                        letter-spacing: px(-0.725);
                        margin: px(5) 0 px(2.5);
                        line-height: px(16);
                    }
                    .t2 {
                        font-size: px(11);
                        letter-spacing: px(-0.5);
                        line-height: px(14);
                    }
                    .t3 {
                        display: none;
                    }
                }
            }
        }
    }
}